<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">


  <title>My ACCOUNT</title>
  <script language="javascript">
      var seckill_arr = [];
      var js_site_from = 'www';
  </script>
  <link media="all" href="catalog/view/theme/default/css/index.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/home.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/login.css" type="text/css" rel="stylesheet">
  <link media="all" href="catalog/view/theme/default/css/forget.css" type="text/css" rel="stylesheet">
</head>
<body>


<div class="header_common">

  <script src="catalog/view/theme/default/js/jquery-new.mins.js" type="text/javascript"></script>




  <div class="c-header">
    <div class="header-wrap">
      <div class="container-fluid mar-b-0">
        <div class="row">
          <div class="left col-xs-5">
            <div class="country" id="switch_lang">
              <a class="present" href="javascript:void(0)" id="txt_lang">English</a>
              <div class="dropdown" id="lang_list">
                <a style="display: none;" href=""  >English</a>
                <a href="" >Español</a><a href="" >Français</a> <a href="" >Русский</a><a href="" >Deutsch</a><a href="" >Italiano</a><a href="" >اللغة العربية</a>
              </div></div>

            <div class="currency" id="user_menu3">
              <a class="present three outer j-present-currency"  href="javascript:void(0);" >US$</a>
              <div class="dropdown user_menu3_update" id="user_menu3_coon">
                <div class="currency-list1">
                  <a class="ga-cur-USD" ><div id="currency" class="j-nav-currency" ></div><div class="USD_flag"></div>US Dollar</a>
                  <a class="ga-cur-EUR" ><div id="currency" class="j-nav-currency" ></div><div class="EUR_flag"></div>Euro</a>
                  <a class="ga-cur-GBP" ><div id="currency" class="j-nav-currency" ></div><div class="GBP_flag"></div>Pound Sterling</a>
                  <a class="ga-cur-CAD" ><div id="currency" class="j-nav-currency"  ></div><div class="CAD_flag"></div>Canadian Dollar</a>
                  <a class="ga-cur-NOK" ><div id="currency" class="j-nav-currency" ></div><div class="NOK_flag"></div>Norwegian Krone</a>
                  <a class="ga-cur-AED" ><div id="currency" class="j-nav-currency" ></div><div class="AED_flag"></div>United Arab Emirates Dirham</a>
                  <a class="ga-cur-INR" ><div id="currency" class="j-nav-currency" currency="INR" ></div><div class="INR_flag"></div>Indian Rupee</a>
                  <a class="ga-cur-SEK" ><div id="currency" class="j-nav-currency" ></div><div class="SEK_flag"></div>Swedish Krona</a>
                  <a class="ga-cur-SAR" ><div id="currency" class="j-nav-currency" ></div><div class="SAR_flag"></div>Saudi Arabian Riyal</a>
                  <a class="ga-cur-PLN" ><div id="currency" class="j-nav-currency" ></div><div class="PLN_flag"></div>Polish Zloty</a>
                  <a class="ga-cur-HKD" ><div id="currency" class="j-nav-currency" ></div><div class="HKD_flag"></div>Hongkong Dollar</a>
                  <a class="ga-cur-MXN" ><div id="currency" class="j-nav-currency"></div><div class="MXN_flag"></div>Mexican Peso</a>
                </div>
                <div class="currency-list2">
                  <a class="ga-cur-DKK" ><div id="currency" ></div><div class="DKK_flag"></div>Danish Krona</a>
                  <a class="ga-cur-JPY" ><div id="currency" ></div><div class="JPY_flag"></div>Japanese Yen</a>
                  <a class="ga-cur-BRL" ><div id="currency" ></div><div class="BRL_flag"></div>Brazil Reais</a>
                  <a class="ga-cur-SGD" ><div id="currency" ></div><div class="SGD_flag"></div>Singapore Dollar</a>
                  <a class="ga-cur-RUB" ><div id="currency" ></div><div class="RUB_flag"></div>Russian Ruble</a>
                  <a class="ga-cur-QAR" ><div id="currency" ></div><div class="QAR_flag"></div>Qatar Riyal</a>
                  <a class="ga-cur-NZD" ><div id="currency" ></div><div class="NZD_flag"></div>New Zealand Dollar</a>
                  <a class="ga-cur-BHD" ><div id="currency" ></div><div class="BHD_flag"></div>Bahrain Dinar</a>
                  <a class="ga-cur-KWD" ><div id="currency" ></div><div class="KWD_flag"></div>Kuwait Dinar</a>
                  <a class="ga-cur-AUD" ><div id="currency" ></div><div class="AUD_flag"></div>Australian Dollar</a>
                  <a class="ga-cur-CHF" ><div id="currency" ></div><div class="CHF_flag"></div>Switzerland Francs</a>
                  <a class="ga-cur-TWD" ><div id="currency" ></div><div class="TWD_flag"></div>New Taiwan Dollar</a>
                </div>
              </div>
            </div>
            <div class="switch">
              <ul class="hd-swicth" id="user_banner"><li class="hd-ban-li animated flipInX" style="opacity: 1; display: table-cell;"><a href=""> <strong>Free shipping</strong> on orders over US$50</a></li></ul>
            </div>
          </div>
          <div class="logo-wrap col-xs-2"><a class="shelogo" href="" ><i class="iconfont"></i></a></div>
          <script type="text/javascript">$(function(){$('#my_profile').hover(function(){$('.j-user-profile').show();},function(){$('.j-user-profile').hide();})})</script>
          <div class="right col-xs-5">
            <div class="sign" id="my_profile">
              <a class="present j-login-present"   href="" style="text-transform: none;" >
                <span class="j-login-username">Hi,16958398</span><b></b>
              </a>
              <div class="dropdown user-profile-hidd j-user-profile" style="display: none;">
                <a  href="" >My Orders</a>
                <a  href="" >My Tickets </a>
                <a  href="" >My Wallet</a>
                <a  href="" d>My Wishlist</a>
                <a  href="" >My Address Book</a>
                <a  href="" >Style Gallery</a>
                <a  href="" >Free Trial Report</a>
                <a  href=""  >Bonus Point Program</a>
                <a  href="">Sign Out</a></div>
            </div>
            <div class="online-help" id="livechat">
              <a class="present j-online-help-icon" href="javascript:void(0);">Online Help</a>
              <div class="dropdown j-livechat-con" style="display: none;">
                <div class="pre-help">
                  <h6 class="help-title">Pre-sales</h6>
                  <p class="help-desc">If you have any questions before making a purchase, chat with our online operaters to get more information.</p>
                  <div id="chat">
                    <div class="she-btn-black she-btn-s hd-zendesk" onclick="showPreRobot();" style="color: rgb(255, 255, 255);">
                      <i class="iconfont"></i>
                      Online Help
                    </div>
                  </div>
                </div>
                <div class="after-help">
                  <h6 class="help-title">After-sales</h6>
                  <p class="help-desc">If you need any help about the after-sales issues, please submit a ticket.</p>
                  <a class="she-btn-black she-btn-s ga-tk-top-submit-ticket" href="" >Submit a ticket</a>
                </div>
              </div>
              <script type="text/javascript">$(function(){ $('#livechat').hover(function(){$('.j-livechat-con').show();},function(){$('.j-livechat-con').hide();})})</script>
            </div>
            <div class="search-wrap">
              <form  action="javascript:void(0);" style="position: relative;">
                <div class="serch-suggest" id="serchSuggest" style="display: none;">
                  <ul></ul>
                </div>

                <input class="txt she-input-txt" id="searchKeyword" value="Search SHEIN" name="searchKeyword" autocomplete="off" type="text">
                <a class="present iconfont" id="search_ico" href="javascript:void(0)" title="Search" aria-hidden="true">
                  
                </a>
              </form>
            </div>
            <script type="text/javascript" src="do_search.js"></script>
            <div class="wish-com" title="My Wishlist">
              <a class="j-wish" href="https://www.shein.com/index.php?model=wishlist&amp;from=navbar">
                <span class="iconfont"></span>
              </a>
              <span class="wish-num j-wish-num">1</span>
            </div>
            <div class="bag" id="logo_rightyy">
              <a class="present shoppingbag j-shoppingbag"  href="https://www.shein.com/shopping-cart.html" title="Shopping Bag">
		                    <span class="iconfont">
		                        
		                    </span>
                <span class="bag-count" id="cart_items">
		                        <b id="carts_quantity">2</b>
		                    </span>
              </a>



              <div id="attr_shopcart" class="c-headsb hd-cart-bag" style="height: 0px; display: none; opacity: 0;"><div class="basket_empty"><em></em>Shopping Bag is Empty</div></div>
            </div>


            <div id="attr_shopcart"class="c-headsb hd-cart-bag"style="height: 0px; display: none; opacity: 0;"><div class="attribute_cart shopcart-cart"><div class="shopcart-top"><form action="https://www.shein.com/shopping-cart.html"name="theForm_shop"method="post"><div style="width: auto;"><div id="shop-cart-scroll"style="height: 360px; overflow-y: scroll; overflow-x: hidden;"><input id="update_shopping_price_type"name="update_shopping_price_type"value="shopping_cart"type="hidden"><div class="shopping-product"data-sku="sweatsh171017370"data-spu="170908205"data-good-id="396259"data-cate-id="1773"data-ga-price="15.00"id="cart_381926375"vip_sale="no"sort_order="append"special_price_hide="yes"><div class="cart_error"style="display: none;"goods_id_value="_396259"></div><div class=" shoppingtop-img"><img src="15081466102147806039_thumbnail_220x293.jpg"border="0"></div><div class="shoppingtop-right"><div class=" discount_goods_price_396259 basket-cont shoppingtop-basket"><span class="shop-index-price shop_price"price="US$15.00"><strong class="final_price_strong">US$15.00</strong></span></div><div class="shoppingtop-name"><a href="http://www.shein.com/Grommet-Lace-Up-Sleeve-Crop-Hoodie-p-396259-cat-1773.html"target="_top"><span class="goods-brand"></span>Grommet Lace Up Sleeve Crop Hoodie</a></div><span class="she-dispatch"><i class="iconfont"></i>Priority dispatching</span><a class="share_button_on share_button_396259"href="javascript:void(0);"onclick="show_facebook_div('396259')"></a><div class="share_wenzi_396259 share_header_explain"><strong>(5%off)</strong></div><div class="attribute-shopcart">Size:XL<a class="shop-remove-a iconfont"href="javascript:void(0)"onclick="setAttrAmount.del(381926375, 396259, '#quantity_sad')"></a></div><div class="j-attr-goods shop-input"style="left: 0px; position: relative;"><div class=" inbasket-quantity"><input name="goods_arr[]"value="396259"type="hidden"><input name="goods_name[]"value="Grommet Lace Up Sleeve Crop Hoodie"type="hidden"><input name="is_on_sale[]"value="1"type="hidden"><div class="red display-none"id="381926375j-limit-tip"></div><a class="reduce iconfont j-reduce-381926375 disable"onclick="setAttrAmount.reduce('#381926375',396259)"href="javascript:void(0)"></a><input class="quantityselect-bg"name="quantity_396259"value="1"id="381926375"onfocus="setAttrAmount.record('#381926375');"onblur="setAttrAmount.modify('#381926375',396259,undefined,0,7)"type="text"><a class="j-cart-add add iconfont"onclick="setAttrAmount.add('#381926375',396259,undefined,0,7)"href="javascript:void(0)"></a></div><div class="is-show-stock j-show-stock"style="padding-left: 8px; color: rgb(102, 102, 102); display: none;">(Only<strong class="units_in_stock">1000000</strong>left!)</div><div class="attr_basket_cont4 attr-basket-cont4"style="top: 0px;"><div class="attr_inbasket_total"><span class="shop-total-label">Total:</span><span class="shoppingtop-span"><div id="subtotal_381926375"class="item_total">US$15.00</div></span></div></div></div></div></div><div></div></div><p class="attr-prompt shipping_price_99">Eligible for<a>FREE Express shipping</a>!</p><p class="attr-total"id="attr_retail_price"style="padding-top: 10px;">Retail Price:<a id="shipping_retail_price">US$48.00</a></p><p class="attr-total"id="attr_retail_price_discount"style="display: none;"><span>Discount<a>0</a>off</span></p><p class="attr-total"id="attr_total"style="font-weight: bold;"><span class="shipping-total-label">Total:</span><span class="shipping-total"style="color: rgb(209, 0, 0);"id="shipping_total">US$48.00</span></p><div class="shoppingtop-baskets"><input class="she-btn-black she-btn-l viewbag"name="viewcart"value="view bag"type="submit"></div></div></form></div></div><img src="catalog/view/theme/default/image/index/js_grey.gif"style="display: none;"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" data-id="ga_nav">

    var GB_ga_nav = {
        ga_timer: 0,
        ga_click_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSearch'
                });
            }
        },
        ga_edit_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'EditSearch'
                });
            }
        },
        ga_cancel_search: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'CancleSearch'
                });
            }
        },
        ga_goto_search: function (val) {
            if(GB_ga_nav.ga_timer) return;
            GB_ga_nav.ga_timer = 1;
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'GoToResult',
                    eventLabel: val
                });
            }
            setTimeout(function() {
                GB_ga_nav.ga_timer = 0;
            }, 1000)
        },
        ga_language: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectLanguage',
                    eventLabel: val
                });
            }
        },
        ga_currency: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectCurrency',
                    eventLabel: val
                });
            }
        },
        ga_shippingInfo: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickShippingInfo',
                    eventLabel: val
                });
            }
        },
        ga_logo: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSheinLogo',
                    eventLabel: val
                });
            }
        },
        ga_account_nologin: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'Sign in/Register',
                    eventLabel: val
                });
            }
        },
        ga_account_login: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'My Account',
                    eventLabel: val
                });
            }
        },
        ga_online_service: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickOnlineService'
                });
            }
        },
        ga_online_aticket: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickSubmitATicket'
                });
            }
        },
        ga_click_wishlist: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickWishlist'
                });
            }
        },
        ga_click_bag: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickBag'
                });
            }
        },
        ga_click_category: function (val) {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'SelectCategory',
                    eventLabel: val
                });
            }
        },
        ga_online_service: function () {
            if(typeof(ga) == 'function') {
                ga('shein.send',{
                    hitType: 'event',
                    eventCategory: '导航栏',
                    eventAction: 'ClickOnlineHelp'
                });
            }
        },
    }

    // ClickSubmitATicket
    $(".ga-tk-top-submit-ticket").click(function () {
        GB_ga_nav.ga_online_aticket()
    })
    // ClickOnlineHelp
    $(".online-help").on('click', '.hd-zendesk', function () {
        GB_ga_nav.ga_online_service()
    })


    function GB_isMobile(){
        return navigator.userAgent.toLowerCase().match(/phone|pad|pod|iphone|ipod|ios|ipad|android/);
    }


</script>


<script language="javascript">function bindLangEvent(){$("#switch_lang").hover(function(e){$("#lang_list").show()},function(e){$("#lang_list").hide()})}bindLangEvent();if(js_site_from=='uk'){$('#search_ico').bind(GB_isMobile()?"touchend":"click",function(e){GB_ga_nav.ga_click_search();$('#newSearch').css({'display':'inline-block'});$(this).hide();$('#livechat').hide();$('#my_profile').hide();e.stopPropagation()})}else{$('#search_ico').bind(GB_isMobile()?"touchend":"click",function(e){GB_ga_nav.ga_click_search();$('#searchKeyword').show();$(this).hide();$('#livechat').hide();$('#my_profile').hide();e.stopPropagation()})}if(js_site_from=='uk'){$(document.body).bind(GB_isMobile()?"touchend":"click",function(e){if(e.target!=$('#searchKeyword')[0]){$('#searchKeyword').blur();$('#newSearch').hide();$('#search_ico').show();$('#livechat').show();$('#my_profile').show()}})}else{$(document.body).bind(GB_isMobile()?"touchend":"click",function(e){if(e.target!=$('#searchKeyword')[0]){$('#searchKeyword').blur();$('#searchKeyword').hide();$('#search_ico').show();$('#livechat').show();$('#my_profile').show()}})}$("#user_menu3").hover(function(){$("#user_menu3_coon").show();$("#user_menu3_coon").addClass("link_now")},function(){$("#user_menu3_coon").hide();$("#user_menu3_coon").removeClass("link_now")});</script>

<div class="c-nav">
  <div class="nav-wrap2">
    <ul class="nav-wrap j-nav-wrap">
      <li class="nav-menu j-nav-menu j-nav-show" >
        <a style="color:#00000;" class="first-link" href=""> What's New</a>
        <div class="dropdown-mask j-dropdown-mask"></div><div class="dropdown-wrap j-dropdown"><div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;"></div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" ><a href="">What's New</a></div>
              <div class="third-link list-link j-list-link j-third-link">
                <a href=""> 12-22-2017 </a></div>
              <div class="third-link list-link j-list-link j-third-link"  >
                <a href=""> 12-21-2017 </a></div>
              <div class="third-link list-link j-list-link j-third-link"  >
                <a href=""> 12-20-2017 </a></div>
              <div class="third-link list-link j-list-link j-third-link"  >
                <a href=""> 12-19-2017 </a> </div>
              <div class="third-link list-link j-list-link j-third-link"  >
                <a href=""> 12-18-2017 </a></div>
              <div class="third-link list-link j-list-link j-third-link"  >
                <a href=""> 12-16-2017 </a></div>
              <div class="third-link list-link j-list-link j-third-link last-third"  >
                <a href=""> 12-15-2017 </a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2">
                <a style="color:#00000;" href="javascript:void(0);">New Collection</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" >
                <a style="color:#00000;" href="">Sparkle &amp; Shine</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" >
                <a style="color:#00000;" href="">Ultra De-Luxe</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" >
                <a style="color:#00000;" href="">In Your Word</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="">Seduction Rotation&nbsp;</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2">
                <a style="color:#00000;" href="javascript:void(0);">Shop By Category</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="">New In: Plus Size</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Sweaters-Y-vc-40896.html?icn=Sweaters&amp;ici=www_navbar01menu03dir02">New In: Sweaters</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Sweatershirts-Y-vc-40897.html?icn=Sweatershirts&amp;ici=www_navbar01menu03dir03">New In: Sweatshirts</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Outerwear-Y-vc-40898.html?icn=Outerwear&amp;ici=www_navbar01menu03dir04">New In: Coats</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Blouses-Y-vc-40900.html?icn=Blouses&amp;ici=www_navbar01menu03dir05">New In: Blouse</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Bottoms-Y-vc-40902.html?icn=Bottoms&amp;ici=www_navbar01menu03dir06">New In: Bottoms</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Dresses-Jumpsuits-Y-vc-40899.html?icn=DressesJumpsuits&amp;ici=www_navbar01menu03dir07">New In: Dresses&amp;Jumpsuits</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Tops-Y-vc-40901.html?icn=Tops&amp;ici=www_navbar01menu03dir08">New In: Tops</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Co-ord-sets-Y-vc-40903.html?icn=Co-ord-setss&amp;ici=www_navbar01menu03dir9">New In: Co-ord Sets</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Shoes-Accessories-Y-vc-40904.html?icn=Shoes-Accessories&amp;ici=www_navbar01menu03dir10">New In: Shoes&amp;Accessories</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar01menu03dir11">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-SHEIN-Brands-Y-vc-40905.html?icn=SHEINBrands&amp;ici=www_navbar01menu04">SHEIN Brands</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/back-in-stock.html?icn=backinstock&amp;ici=www_navbar01menu05">Back In Stock</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Outlets-Newin-Y-vc-40910.html?icn=Outlets&amp;ici=www_navbar01menu06">Outlets New In</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-shein-brands-y-vc-40905.html?icn=sheinbrands&amp;ici=www_navbar01banner01"><img src="catalog/view/theme/default/image/index/15129617753377870285.jpg" alt="SHEIN Exclusive"></a><div class="btm-wrap"><span class="btm-strong">SHEIN Exclusive</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-accessories-y-vc-40991.html?icn=accessories&amp;ici=www_navbar01banner02"><img src="catalog/view/theme/default/image/index/15129732910590516772.jpg" alt="Accessories"></a><div class="btm-wrap"><span class="btm-strong">Accessories</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-sweaters-sweatshirts-y-vc-40988.html?icn=sweaterssweatshirts&amp;ici=www_navbar01banner03"><img src="catalog/view/theme/default/image/index/15129622032972063278.jpg" alt="The Winter Shop"></a><div class="btm-wrap"><span class="btm-strong">The Winter Shop</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/Global-EXCLUSIVE-Y-vc-41101.html?icn=sheinexclusives&amp;ici=www_navbar02">
          EXCLUSIVE</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-SHEIN-Brands-Y-vc-40905.html?icn=SHEINBrands&amp;ici=www_navbar02menu01">New In</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Sweaters-Y-vc-40974.html?icn=NewSweaters&amp;ici=www_navbar02menu02">Sweaters</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Sweatershirts-Y-vc-40975.html?icn=NewSweatershirts&amp;ici=www_navbar02menu03">Sweatshirts</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Coats-Y-vc-40976.html?icn=Newcoats&amp;ici=www_navbar02menu04">Coats</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Blouses-Y-vc-40977.html?icn=NewBlouses&amp;ici=www_navbar02menu05">Blouses</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Dresses-Jumpsuits-Y-vc-40978.html?icn=dressjumpsuit&amp;ici=www_navbar02menu06">Dresses&amp;Jumpsuits</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-New-Long-sleeve-dress-Y-vc-40979.html?icn=NewLongsleeve&amp;ici=www_navbar02menu06dir01">Long Sleeve Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-New-Casual-dress-Y-vc-40980.html?icn=casualdress&amp;ici=www_navbar02menu06dir02">Casual Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar02menu06dir03">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(252, 1, 31);" href="http://www.shein.com/coming-soon?icn=comingsoon&amp;ici=www_navbar02menu07">Coming Soon</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Tops-Y-vc-40981.html?icn=NewTops&amp;ici=www_navbar02menu08">Tops</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Bottoms-Y-vc-40982.html?icn=Bottoms&amp;ici=www_navbar02menu09">Bottoms</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Co-ord-sets-Y-vc-40983.html?icn=ShoesAccessories&amp;ici=www_navbar02menu10">Co-ord Sets</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(252, 49, 2);" href="http://www.shein.com/global-Exclusive-Plus-Size-vc-50125.html?icn=plussize&amp;ici=www_navbar02menu11">Plus Size</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-shein-brands-y-vc-40905.html?icn=exclusives&amp;ici=www_navbar02banner01"><img src="catalog/view/theme/default/image/index/15116724147986764449.jpg" alt="SHEIN Brand"></a><div class="btm-wrap"><span class="btm-strong">SHEIN Brand</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-sweaters-c-y-vc-40989.html?icn=sweaters&amp;ici=www_navbar02banner02"><img src="catalog/view/theme/default/image/index/15116723714517366830.jpg" alt="Sweaters"></a><div class="btm-wrap"><span class="btm-strong">Sweaters</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-sweatershirts-c-y-vc-40990.html?icn=sweatershirts&amp;ici=www_navbar02banner03"><img src="catalog/view/theme/default/image/index/15131467130349286462.jpg" alt="Sweatshirts"></a><div class="btm-wrap"><span class="btm-strong">Sweatshirts</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color: rgb(251, 52, 5);" class="first-link" data-menu="1" href="http://www.shein.com/www-AW2017-Trends-vc-34740.html?icn=AW17trends&amp;ici=www_navbar03">
          AW17 Trends</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Occasion</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(248, 7, 7);" href="http://www.shein.com/Christmas-2017-vc-47370.html?icn=Christmas171205&amp;ici=www_navbar03menu01dir01">Christmas Gift Guide</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-going-out-Y-vc-41217.html?icn=Goingout&amp;ici=www_navbar03menu01dir02">Going Out</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-party-Y-vc-41224.html?icn=Party&amp;ici=www_navbar03menu01dir03">Party Queen</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-occasion-Y-vc-41218.html?icn=occasion&amp;ici=www_navbar03menu01dir04">Occasion Wear</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-work-wear-Y-vc-41219.html?icn=workwear&amp;ici=www_navbar03menu01dir05">Office Chic</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-back-to-school-Y-vc-41220.html?icn=backtoschool&amp;ici=www_navbar03menu01dir06">Back To School</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-festival-Y-vc-41221.html?icn=Festival&amp;ici=www_navbar03menu01dir07">Carnival Festival</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-nightwear-Y-vc-41223.html?icn=Nightwear&amp;ici=www_navbar03menu01dir08">Homecoming Look</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sporty-look-vc-2407.html?icn=sporty&amp;ici=www_navbar03menu01dir9">Get Sporty</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-vacation-Y-vc-41225.html?icn=vacation&amp;ici=www_navbar03menu01dir10">On Vacay Mode</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar03menu01dir11">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Styles</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-sexy-Y-vc-41226.html?icn=sexy&amp;ici=www_navbar03menu02dir01">Crazy Sexy Cool</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-casual-Y-vc-41271.html?icn=casual&amp;ici=www_navbar03menu02dir02">Laid-back Looks</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-elegant-Y-vc-41273.html?icn=elegant&amp;ici=www_navbar03menu02dir03">A Touch Of Elegance</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-girly-Y-vc-41272.html?icn=girly&amp;ici=www_navbar03menu02dir04">Girly Chic</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Young-Bohemians-vc-7829.html?icn=boho&amp;ici=www_navbar03menu02dir05">That Boho Feeling</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sporty-look-vc-2407.html?icn=sporty&amp;ici=www_navbar03menu02dir06">Get Sporty</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-formal-Y-vc-41274.html?icn=formal&amp;ici=www_navbar03menu02dir07">Dress It Up</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-street-Y-vc-41275.html?icn=street&amp;ici=www_navbar03menu02dir08">Urban Rebel</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar03menu02dir9">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Trends</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-DENIM-Y-vc-41276.html?icn=denim&amp;ici=www_navbar03menu03dir01">Denim Blue</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Velvet-vc-39998.html?icn=velvet&amp;ici=www_navbar03menu03dir02">Crushin' On Velvet</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-PLAID-Y-vc-41277.html?icn=plaid&amp;ici=www_navbar03menu03dir03">Check It</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-STRIP-Y-vc-41278.html?icn=stripes&amp;ici=www_navbar03menu03dir04">Stripe Hype</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-FLORAL-Y-vc-41279.html?icn=floral&amp;ici=www_navbar03menu03dir05">In Bloom</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-COLORBLOCK-Y-vc-41280.html?icn=colorblock&amp;ici=www_navbar03menu03dir06">Colorblock Me</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/off-shoulder-vc-7736.html?icn=offtheshoulder&amp;ici=www_navbar03menu03dir07">Cold Shoulder</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-RUFFEL-FLARE-Y-vc-41282.html?icn=ruffleflare&amp;ici=www_navbar03menu03dir08">Ruffles On Ruffles</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-PEARL-Y-vc-41283.html?icn=pearls&amp;ici=www_navbar03menu03dir9">All About Pearls</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-WIDE-LEG-Y-vc-41284.html?icn=wideleg&amp;ici=www_navbar03menu03dir10">Wide Leg</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-casual-y-vc-41271.html?icn=casual&amp;ici=www_navbar03banner01"><img src="catalog/view/theme/default/image/index/15127160302932213579.jpg" alt="Casual "></a><div class="btm-wrap"><span class="btm-strong">Casual </span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-sexy-y-vc-41226.html?icn=sexy&amp;ici=www_navbar03banner02"><img src="catalog/view/theme/default/image/index/15127141449783647581.jpg" alt="Sexy "></a><div class="btm-wrap"><span class="btm-strong">Sexy </span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/promo-discount.html?icn=promo-discount&amp;ici=www_navbar04">
          Clothing</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Sweaters-c-1734.html?icn=sweaters&amp;ici=www_navbar04menu01">Sweaters</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sweater-Loose-vc-35418.html?icn=loosesweaters&amp;ici=www_navbar04menu01dir01">Loose</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Pullovers-Sweater-Y-vc-41441.html?icn=pullovers&amp;ici=www_navbar04menu01dir02">Pullovers</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/T-shirt-c-1738.html?icn=tshirts&amp;ici=www_navbar04menu02">T-shirts</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Printed-Tshirt-vc-32222.html?icn=printedtshirts&amp;ici=www_navbar04menu02dir01">Printed</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Casual-Tshirt-vc-32221.html?icn=casualtshirts&amp;ici=www_navbar04menu02dir02">Casual</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Bodysuits-c-1882.html?icn=bodysuits&amp;ici=www_navbar04menu03">Bodysuits</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Two-piece-outfits-c-1780.html?icn=twopiece&amp;ici=www_navbar04menu04">Two-piece Outfits</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Nightwear-c-1880.html?icn=nightwear&amp;ici=www_navbar04menu05">Nightwear</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Underwear-c-1862.html?icn=lingerie&amp;ici=www_navbar04menu06">Lingerie&amp;Sleepwear</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/denim-c-1930.html?icn=denim&amp;ici=www_navbar04menu07">Denim</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="6" data-menu="2" style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar04menu07">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Outerwear-c-1735.html?icn=outerwear&amp;ici=www_navbar04menu08">Outerwear</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Jackets-c-1776.html?icn=jackets&amp;ici=www_navbar04menu09">Jackets</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/Sweatshirts-c-1773.html?icn=sweatshirts&amp;ici=www_navbar04menu10">Sweatshirts</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Hoodie-Sweatshirt-Y-vc-41440.html?icn=hoodies&amp;ici=www_navbar04menu10dir01">Hoodies</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sweatshirt-Round-Neck-vc-35446.html?icn=roundneck&amp;ici=www_navbar04menu10dir02">Round Neck</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="1" data-menu="2"><a style="color: rgb(51, 51, 51);" href="http://www.shein.com/Suits-c-1739.html?icn=blazers&amp;ici=www_navbar04menu11">Blazers</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-Bottoms-Y-vc-43829.html?icn=bottoms&amp;ici=www_navbar04menu12">Bottoms</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Jumpsuits-c-1860.html?icn=jumpsuits&amp;ici=www_navbar04menu13">Jumpsuits</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Leggings-c-1871.html?icn=leggings&amp;ici=www_navbar04menu14">Leggings</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Kimonos-c-1878.html?icn=kimonos&amp;ici=www_navbar04menu15">Kimonos</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="6" data-menu="2" style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar04menu15">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="1" data-menu="2"><a style="color: rgb(51, 51, 51);" href="http://www.shein.com/Shirts-c-1733.html?icn=blouses&amp;ici=www_navbar04menu16">Blouses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/global-cliffon-blouse-vc-49730.html?icn=chiffonblouse&amp;ici=www_navbar04menu16dir01">Chiffon</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Embroidery-Blouse-vc-18628.html?icn=embroideryblouse&amp;ici=www_navbar04menu16dir02">Embroidery</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Pants-c-1740.html?icn=pants&amp;ici=www_navbar04menu17">Pants</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-TightsPants-vc-34353.html?icn=tights&amp;ici=www_navbar04menu17dir01">Tights</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-WideLegPant-vc-29140.html?icn=wideleg&amp;ici=www_navbar04menu17dir02">Wide leg</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Swimwear-c-1866.html?icn=swimwear&amp;ici=www_navbar04menu18">Swimwear</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Shorts-c-1912.html?icn=shorts&amp;ici=www_navbar04menu19">Shorts</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Skirts-c-1732.html?icn=skirts&amp;ici=www_navbar04menu20">Skirts</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Tank-Tops-c-1779.html?icn=tanktops&amp;ici=www_navbar04menu21">Tank Tops&amp;Camis</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/global-plus-size-vc-49252.html?icn=plussize&amp;ici=www_navbar04menu22">Plus Size</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/sweatshirts-c-1773.html?icn=sweatshirts&amp;ici=www_navbar04banner01"><img src="catalog/view/theme/default/image/index/15095048322655996728.jpg" alt="Sweatshirts"></a><div class="btm-wrap"><span class="btm-strong">Sweatshirts</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/sweaters-c-1734.html?icn=sweaters&amp;ici=www_navbar04banner02"><img src="catalog/view/theme/default/image/index/15089887511305885410.jpg" alt="Sweaters"></a><div class="btm-wrap"><span class="btm-strong">Sweaters</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-longblouse-tee-y-vc-41443.html?icn=longblousetee&amp;ici=www_navbar04banner03"><img src="catalog/view/theme/default/image/index/15114023056824400436.jpg" alt="Long Sleeve Tees&amp;Blouses"></a><div class="btm-wrap"><span class="btm-strong">Long Sleeve Tees&amp;Blouses</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/women-dresses-c-1727.html?icn=dresses&amp;ici=www_navbar05">
          Dresses</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-New-Dress-Y-vc-41476.html?icn=newdresses&amp;ici=www_navbar05menu01">New In Dresses</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="javascript:void(0);">Offers</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Dresses-all-under-10-Y-vc-41772.html?icn=saledress10&amp;ici=www_navbar05menu02dir01">All Under US$10</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Dresses-all-under-15-Y-vc-41774.html?icn=saledress15&amp;ici=www_navbar05menu02dir02">All Under US$15</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Dresses-all-under-20-Y-vc-41775.html?icn=saledress20&amp;ici=www_navbar05menu02dir03">All Under US$20</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Dresses-all-under-30-Y-vc-41777.html?icn=saledress30&amp;ici=www_navbar05menu02dir04">All Under US$30</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(250, 55, 8);" href="http://www.shein.com/global-Dresses-up-to-80-off-Y-vc-47668.html?icn=dresses&amp;ici=www_navbar05menu02dir05">Dresses Up To 80% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar05menu02dir06">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Style</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Casual-Dresses-vc-32232.html?icn=casualdress&amp;ici=www_navbar05menu03dir01">Casual Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Long-Sleeve-Dresses-Y-vc-41477.html?icn=longsleevedress&amp;ici=www_navbar05menu03dir02">Long Sleeve Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/global-Maxi-Dresses-vc-49726.html?icn=maxidress&amp;ici=www_navbar05menu03dir03">Maxi Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Midi-Dresses-Y-vc-41479.html?icn=mididress&amp;ici=www_navbar05menu03dir04">Midi Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Bodycon-Dresses-vc-32236.html?icn=bodycondress&amp;ici=www_navbar05menu03dir05">Bodycon Dresses</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Design</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/global-Sexy-Dresses-vc-49727.html?icn=sexydress&amp;ici=www_navbar05menu04dir01">Sexy Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Embroidery-Dresses-vc-32240.html?icn=embroiderydress&amp;ici=www_navbar05menu04dir02">Embroidery Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/global-Velvet-Dresses-vc-49725.html?icn=velvetdress&amp;ici=www_navbar05menu04dir03">Velvet Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Boho-Dresses-vc-32233.html?icn=bohodress&amp;ici=www_navbar05menu04dir04">Boho Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Plaid-Dresses-Y-vc-41827.html?icn=Plaid&amp;ici=www_navbar05menu04dir05">Plaid Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar05menu04dir06">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Color</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Black-Dresses-Y-vc-41486.html?icn=blackdress&amp;ici=www_navbar05menu05dir01">Black Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-White-Dresses-Y-vc-41487.html?icn=whitedress&amp;ici=www_navbar05menu05dir02">White Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Red-Dresses-Y-vc-41488.html?icn=reddress&amp;ici=www_navbar05menu05dir03">Red Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Foral-Dresses-Y-vc-41489.html?icn=floraldress&amp;ici=www_navbar05menu05dir04">Floral Dresses</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Multicolor-Y-vc-41490.html?icn=multicolordress&amp;ici=www_navbar05menu05dir05">Multicolor Dresses</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Occasion</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Formal-Dresses-vc-18625.html?icn=formaldresses&amp;ici=www_navbar05menu06dir01">Formal</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Party-Dresses-Y-vc-41482.html?icn=partydresses&amp;ici=www_navbar05menu06dir02">Party</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(0, 0, 0);" href="http://www.shein.com/global-Going-Out-Dresses-vc-49728.html?icn=goingoutdress&amp;ici=www_navbar05menu06dir03">Going Out</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Working-Dresses-Y-vc-41483.html?icn=workingdresses&amp;ici=www_navbar05menu06dir04">Working</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Vacation-Dresses-Y-vc-41849.html?icn=vacationdresses&amp;ici=www_navbar05menu06dir05">Vacation</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/www-casual-dresses-vc-32232.html?icn=casualdress&amp;ici=www_navbar05banner01"><img src="catalog/view/theme/default/image/index/15129773699830040104.jpg" alt="Casual Dresses"></a><div class="btm-wrap"><span class="btm-strong">Casual Dresses</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-long-sleeve-dresses-y-vc-41477.html?icn=longsleevedresses&amp;ici=www_navbar05banner02"><img src="catalog/view/theme/default/image/index/15129728241678153382.jpg" alt="Long Sleeve Dresses"></a><div class="btm-wrap"><span class="btm-strong">Long Sleeve Dresses</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-party-dresses-y-vc-41482.html?icn=partydresses&amp;ici=www_navbar05banner03"><img src="catalog/view/theme/default/image/index/15129726755024376347.jpg" alt="Party Dresses"></a><div class="btm-wrap"><span class="btm-strong">Party Dresses</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/Women-shoes-c-1745.html?icn=shoes&amp;ici=www_navbar06">
          Shoes</a>

        <div class="dropdown-mask j-dropdown-mask" style="display: none;"></div>
        <div class="dropdown-wrap j-dropdown" style="display: none;">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Global-New-Shoes-Y-vc-41513.html?icn=newshoes&amp;ici=www_navbar06menu01">New In Shoes</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Recommend</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-top-Sneakers-Y-vc-41514.html?icn=topssneakers&amp;ici=www_navbar06menu02dir01">Tops&amp;Sneakers</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/global-Coats-Boots-Y-vc-45679.html?icn=coatsboots&amp;ici=www_navbar06menu02dir02">Coats&amp;Boots</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-dress-Pumps-Heels-vc-41516.html?icn=dressheels&amp;ici=www_navbar06menu02dir03">Dresses&amp;Pumps</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color: rgb(251, 52, 5);" href="javascript:void(0);">Offers</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Shoes-under-20-Y-vc-41769.html?icn=shoesunder20&amp;ici=www_navbar06menu03dir01">All Under US$20</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/global-Shoes-Up-to-85-off-Y-vc-43163.html?icn=Shoes-Up-to-85-off&amp;ici=www_navbar06menu03dir02">Up To 85% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(251, 52, 5);" href="http://www.shein.com/Global-Shoes-from-5-Y-vc-41771.html?icn=shoesfrom5&amp;ici=www_navbar06menu03dir03">From US$5</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar06menu03dir04">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">All Shoes</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Boots-c-1748.html?icn=boots&amp;ici=www_navbar06menu04dir01">Boots</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Wedges-c-1749.html?icn=wedges&amp;ici=www_navbar06menu04dir02">Wedges</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sneakers-c-1913.html?icn=sneakers&amp;ici=www_navbar06menu04dir03">Sneakers</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sandals-c-1751.html?icn=sandals&amp;ici=www_navbar06menu04dir04">Sandals</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Pumps-c-1750.html?icn=pumpsheels&amp;ici=www_navbar06menu04dir05">Pumps</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Flats-c-1881.html?icn=flats&amp;ici=www_navbar06menu04dir06">Flats</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Slippers-c-1929.html?icn=slippers171121&amp;ici=www_navbar06menu04dir07">Slippers</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Trends</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Fall-Winter-Shoes-Y-vc-41517.html?icn=fallwinter&amp;ici=www_navbar06menu05dir01">Fall&amp;Winter</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Sporty-Shoes-Y-vc-41518.html?icn=sporty&amp;ici=www_navbar06menu05dir02">Sporty</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Global-Elegant-Shoes-Y-vc-41519.html?icn=elegant&amp;ici=www_navbar06menu05dir03">Elegant</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-bestseller-shoes-y-vc-41520.html?icn=bestsellershoes&amp;ici=www_navbar06banner01"><img src="catalog/view/theme/default/image/index/15129728932791511355.jpg" alt="Bestseller"></a><div class="btm-wrap"><span class="btm-strong">Bestseller</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/boots-c-1748.html?icn=boots&amp;ici=www_navbar06banner02"><img src="/catalog/view/theme/default/image/index/15117470639943200747.jpg" alt="Boots"></a><div class="btm-wrap"><span class="btm-strong">Boots</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/flats-c-1881.html?icn=flats&amp;ici=www_navbar06banner03"><img src="/catalog/view/theme/default/image/index/15129718373750007038.jpg" alt="Flat"></a><div class="btm-wrap"><span class="btm-strong">Flat</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/Accessories-vc-35269.html?icn=accessories&amp;ici=www_navbar07">
          Accessories</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Bags-Purses-c-1764.html?icn=bags&amp;ici=www_navbar07menu01">Bags</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Crossbody-Bag-vc-32247.html?icn=crossbodybags&amp;ici=www_navbar07menu01dir01">Cross-body Bags</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Shoulder-Bag-vc-32249.html?icn=shoulderbags&amp;ici=www_navbar07menu01dir02">Shoulder Bags</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Backpack-Bag-vc-32248.html?icn=%20backpacks&amp;ici=www_navbar07menu01dir03">Backpacks</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/WWW-Clutches-Bag-vc-32250.html?icn=cluches&amp;ici=www_navbar07menu01dir04">Clutches</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/attribute-446_44643-1764.html?icn=wallet&amp;ici=www_navbar07menu01dir05">Wallets</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Socks-Tights-c-1899.html?icn=socks&amp;tights&amp;ici=www_navbar07menu02">Socks&amp;Tights</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Hats-c-1772.html?icn=hatsgloves&amp;ici=www_navbar07menu03">Hats&amp;Gloves</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Mermaid-Blanket-c-1916.html?icn=home&amp;ici=www_navbar07menu04">Home</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Sunglasses-c-1770.html?icn=sunglasses&amp;ici=www_navbar07menu05">Sunglasses</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar07menu05dir01">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Makeup-Collection-vc-20202.html?icn=beauty&amp;ici=www_navbar07menu06">Beauty</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Makeup-Brushes-c-1865.html?icn=makeupbrushes&amp;ici=www_navbar07menu06dir01">Makeup Brushes</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Makeup-Bags-c-1909.html?icn=makeupbags&amp;ici=www_navbar07menu06dir02">Makeup Bags</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Makeup-Tools-c-1911.html?icn=makeuptools&amp;ici=www_navbar07menu06dir03">Makeup Tools</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Scarves-c-1872.html?icn=scarves&amp;ici=www_navbar07menu07">Scarves</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Belts-c-1875.html?icn=belts&amp;ici=www_navbar07menu08">Belts</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Headbands-c-1915.html?icn=headbands&amp;ici=www_navbar07menu09">Headbands</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Tech-c-1925.html?icn=tech&amp;ici=www_navbar07menu10">Tech</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Keychains-c-1914.html?icn=keychains&amp;ici=www_navbar07menu11">Keychains</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar07menu11dir01">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color: rgb(251, 6, 6);" href="http://www.shein.com/Christmas-2017-vc-47370.html?icn=christmas&amp;ici=www_navbar07menu12">Christmas</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Hair-Accessories-c-1778.html?icn=hairaccessories&amp;ici=www_navbar07menu13">Hair Accessories</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Necklaces-c-1755.html?icn=necklaces&amp;ici=www_navbar07menu14">Necklaces</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Earrings-c-1757.html?icn=earrings&amp;ici=www_navbar07menu15">Earrings</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Rings-c-1759.html?icn=rings&amp;ici=www_navbar07menu16">Rings</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Bracelets-c-1758.html?icn=bracelets&amp;ici=www_navbar07menu17">Bracelets</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/Body-Jewellery-c-1908.html?icn=bodyjewelry&amp;ici=www_navbar07menu18">Body Jewelry</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/global-jewelry-y-vc-41622.html?icn=jewelry&amp;ici=www_navbar07banner01"><img src="catalog/view/theme/default/image/index/15095049453572467251.jpg" alt="Jewelry"></a><div class="btm-wrap"><span class="btm-strong">Jewelry</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/bags-purses-c-1764.html?icn=bags&amp;ici=www_navbar07banner02"><img src="catalog/view/theme/default/image/index/15095049513111195789.jpg" alt="Bags"></a><div class="btm-wrap"><span class="btm-strong">Bags</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/acceessalebanner-vc-44681.html?icn=accessariessale&amp;ici=www_navbar07banner03"><img src="catalog/view/theme/default/image/index/15129619312391241184.jpg" alt="Accessories"></a><div class="btm-wrap"><span class="btm-strong">Accessories</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color: rgb(248, 49, 2);" class="first-link" data-menu="1" href="http://www.shein.com/clearance-sale-vc-1100.html?icn=clearance-sale&amp;ici=www_navbar08">
          Sale</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Price</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sale-Under-5-vc-41297.html?icn=allunder5&amp;ici=www_navbar08menu01dir01">All Under US$5</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sale-Under-10-vc-41299.html?icn=allunder10&amp;ici=www_navbar08menu01dir02">All Under US$10</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sale-Under-15-vc-41301.html?icn=allunder15&amp;ici=www_navbar08menu01dir03">All Under US$15</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sale-Under-20-vc-41303.html?icn=allunder20&amp;ici=www_navbar08menu01dir04">All Under US$20</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="javascript:void(0);">Shop By Discount</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/all-50-off-vc-41305.html?icn=all50off&amp;ici=www_navbar08menu02dir01">All 50% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/all-60-off-vc-41635.html?icn=all60off&amp;ici=www_navbar08menu02dir02">All 60% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/all-70-off-vc-41641.html?icn=all70off&amp;ici=www_navbar08menu02dir03">All 70% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/up-to-90-off-vc-41314.html?icn=upto90off&amp;ici=www_navbar08menu02dir04">Up to 90% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="6"  style="width: 0px; height: 300px; margin: 0px; font-size: 0px;"><a style="color:#00000;" href="http://www.shein.com/&amp;ici=www_navbar08menu02dir05">跳行栏</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/New-Sale-vc-25620.html?icn=newsale&amp;ici=www_navbar08menu03">New  Sale</a></div>
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/All-Sale-vc-41317.html?icn=allsale&amp;ici=www_navbar08menu04">All Sale</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Dresses-on-Sale-vc-8904.html?icn=dresses&amp;ici=www_navbar08menu04dir01">Dresses:Up To 80% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Tops-on-Sale-vc-8905.html?icn=tops&amp;ici=www_navbar08menu04dir02">Tops:Starting From $4.99</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Sweaters-on-sale-vc-41321.html?icn=sweaters&amp;ici=www_navbar08menu04dir03">Sweaters:Up To 85% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Coats-on-sale-vc-41323.html?icn=coats&amp;ici=www_navbar08menu04dir04">Coats:Up To 80% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Bottoms-on-Sale-vc-8906.html?icn=bottoms&amp;ici=www_navbar08menu04dir05">Bottoms:Up To 85% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Shoes-on-sale-vc-41326.html?icn=shoes&amp;ici=www_navbar08menu04dir06">Shoes:Up To 75% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color: rgb(248, 7, 37);" href="http://www.shein.com/Swimwear-on-sale-vc-41370.html?icn=swimwear&amp;ici=www_navbar08menu04dir07">Swimwear: Up To 70% Off</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/Accessories-on-sale-vc-41330.html?icn=accessories&amp;ici=www_navbar08menu04dir08">Accessories:Up To 80% Off</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/special-one-vc-538.html?icn=specialone&amp;ici=www_navbar08banner01"><img src="catalog/view/theme/default/image/index/15129729972579100960.gif" alt="Flash Sale"></a><div class="btm-wrap"><span class="btm-strong">Flash Sale</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/dress-up-to-90-off-vc-41332.html?icn=upto90off&amp;ici=www_navbar08banner02"><img src="catalog/view/theme/default/image/index/15133098818965963407.jpg" alt="Dresses：Up To 90% Off"></a><div class="btm-wrap"><span class="btm-strong">Dresses：Up To 90% Off</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/tops-all-70-off-vc-41688.html?icn=all70off&amp;ici=www_navbar08banner03"><img src="catalog/view/theme/default/image/index/15133098953503323996.jpg" alt="Tops Collection : All 70% Off"></a><div class="btm-wrap"><span class="btm-strong">Tops Collection : All 70% Off</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-menu j-nav-menu j-nav-show" data-siteuid="www">
        <a style="color:#00000;" class="first-link" data-menu="1" href="http://www.shein.com/member-image-list.html?icn=stylegallery&amp;ici=www_navbar09">
          Explore</a>

        <div class="dropdown-mask j-dropdown-mask"></div>
        <div class="dropdown-wrap j-dropdown">
          <div class="dropdown">
            <div class="nav-img nav-img-left j-nav-left" style="display: none;">
            </div>
            <div class="list j-list">
              <div class="second-link list-link j-list-link j-second-link has-third" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/shop-the-look.html?icn=shopthelook&amp;ici=www_navbar09menu01">Lookbook</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-62.html?icn=modernheritage&amp;ici=www_navbar09menu01dir01">Modern Heritage</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-61.html?icn=mixedtexture&amp;ici=www_navbar09menu01dir02">Mixed Textures</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-60.html?icn=cityrebel&amp;ici=www_navbar09menu01dir03">City Rebel</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-59.html?icn=newlayers&amp;ici=www_navbar09menu01dir04">New Layers</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-58.html?icn=alwaysonvacay&amp;ici=www_navbar09menu01dir05">Always On Vacay</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-57.html?icn=foreveryoung&amp;ici=www_navbar09menu01dir06">Forever Young</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-56.html?icn=fallfornewseason&amp;ici=www_navbar09menu01dir07">Fall For New Season</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-55.html?icn=prettymeetsstreet&amp;ici=www_navbar09menu01dir08">Pretty Meets Street</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-53.html?icn=secretgarden&amp;ici=www_navbar09menu01dir9">Secret Garden</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-51.html?icn=sunseeker&amp;ici=www_navbar09menu01dir10">Sun Seeker</a></div>
              <div class="third-link list-link j-list-link j-third-link" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look-49.html?icn=weekendfun&amp;ici=www_navbar09menu01dir11">Weekend Fun</a></div>
              <div class="third-link list-link j-list-link j-third-link last-third" data-type="2" ><a style="color:#00000;" href="http://www.shein.com/shop-the-look.html?icn=viewmore&amp;ici=www_navbar09menu01dir12">View More</a></div>
              <div class="second-link list-link j-list-link j-second-link" data-type="2" data-menu="2"><a style="color:#00000;" href="http://www.shein.com/member-image-list.html?icn=stylegallery&amp;ici=www_navbar09menu02">Style Gallery</a></div>
            </div>
            <div class="nav-img j-nav-right">
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/shop-the-look-62.html?icn=modernheritage&amp;ici=www_navbar09banner01"><img src="catalog/view/theme/default/image/index/15095309286003856886.jpg" alt="Modern Heritage"></a><div class="btm-wrap"><span class="btm-strong">Modern Heritage</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/shop-the-look-61.html?icn=mixedtextures&amp;ici=www_navbar09banner02"><img src="catalog/view/theme/default/image/index/15095309187185729753.jpg" alt="Mixed Textures"></a><div class="btm-wrap"><span class="btm-strong">Mixed Textures</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/shop-the-look-60.html?icn=cityrebel&amp;ici=www_navbar09banner03"><img src="catalog/view/theme/default/image/index/15095308871109685667.jpg" alt="City Rebel"></a><div class="btm-wrap"><span class="btm-strong">City Rebel</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
              <div class="item j-nav-img-item"><a class="img-a" href="http://www.shein.com/member-image-list.html?icn=stylegallery&amp;ici=www_navbar09banner04"><img src="catalog/view/theme/default/image/index/15082389059769500120.jpg" alt="Style Gallery"></a><div class="btm-wrap"><span class="btm-strong">Style Gallery</span></div><div class="btm-wrap"><span class="btm"></span></div></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>

    function GB_isMobile_she(){
        return navigator.userAgent.toLowerCase().match(/phone|pad|pod|iphone|ipod|ios|ipad|android/);
    }
    /*hover延迟0.2秒加载 2017.2.5 wxy*/
    (function(a) {
        a.fn.hoverDelay = function(c, f, g, b) {
            var g = g || 200,   //hover entry time
                b = b || 200,       //hover departure time
                f = f || c;
            var e = [],
                d = [];
            return this.each(function(h) {
                a(this).mouseenter(function() {
                    var i = this;
                    clearTimeout(d[h]);
                    e[h] = setTimeout(function() {
                            c.apply(i)
                        },
                        g)
                }).mouseleave(function() {
                    var i = this;
                    clearTimeout(e[h]);
                    d[h] = setTimeout(function() {
                            f.apply(i)
                        },
                        b)
                })
            })
        }
    })(jQuery);

    //移动设备不延时。
    $(".nav-wrap > li")[GB_isMobile_she()?"hover":"hoverDelay"](function(){
        var $first_link = $(this).find('.first-link')
        $(this).find('.dropdown-mask').show();
        $(this).find('.dropdown-wrap').show();
        var link = $(this).find(".first-link").attr('link');
        $first_link.attr({href: $first_link.attr('link')});

    },function(i){
        $(this).find('.dropdown-mask').hide();
        $(this).find('.dropdown-wrap').hide();
    });



</script>


<script type="text/javascript">

    $("#logo_rightyy").mouseenter(function(){
        if ('' != 1){
            $("#attr_shopcart").stop(true);
            var currentHeight = $("#attr_shopcart").height();
            $("#attr_shopcart").css('height', 'auto');
            var animateHeight = $("#attr_shopcart").height();
            $("#attr_shopcart").css('height', currentHeight);
            $("#attr_shopcart").animate({
                height: animateHeight,
                paddingTop: "show",
                paddingBottom: "show",
                marginTop: "show",
                marginBottom: "show",
                opacity: '1'
            }, 200);
        }
    }).mouseleave(function(){
        $("#attr_shopcart").stop(true);
        $("#attr_shopcart").animate({
            height: 0,
            paddingTop: "hide",
            paddingBottom: "hide",
            marginTop: "hide",
            marginBottom: "hide",
            opacity: '0'
        }, 200);
    });


</script>


{#{{ menu }}#}
