{% if categories %}
  <div class="c-nav">
    <div class="nav-wrap2">
      <ul class="nav-wrap j-nav-wrap">
      {% for category in categories %}
        <li class="nav-menu j-nav-menu j-nav-show"> <a style="color:#00000;" class="first-link" href="{{ category.href }}"> {{ category.name }}</a>
          <div class="dropdown-mask j-dropdown-mask"></div>
          <div class="dropdown-wrap j-dropdown">
            <div class="dropdown">
              <div class="nav-img nav-img-left j-nav-left" style="display: none;"></div>
              <div class="list j-list">
              {% for child in category.children %}
                <div class="second-link list-link j-list-link j-second-link has-third">
                  <a href="{{ child.href }}">{{ child.name }}</a>
                </div>
              {% endfor %}

              </div>
              <div class="nav-img j-nav-right">
                <div class="item j-nav-img-item">
                  <a class="img-a" href="http://www.shein.com/global-shein-brands-y-vc-40905.html?icn=sheinbrands&amp;ici=www_navbar01banner01"><img src="catalog/view/theme/default/image/index/15129617753377870285.jpg" alt="SHEIN Exclusive" /></a>
                  <div class="btm-wrap">
                    <span class="btm-strong">SHEIN Exclusive</span>
                  </div>
                  <div class="btm-wrap">
                    <span class="btm"></span>
                  </div>
                </div>
                <div class="item j-nav-img-item">
                  <a class="img-a" href="http://www.shein.com/global-accessories-y-vc-40991.html?icn=accessories&amp;ici=www_navbar01banner02"><img src="catalog/view/theme/default/image/index/15129732910590516772.jpg" alt="Accessories" /></a>
                  <div class="btm-wrap">
                    <span class="btm-strong">Accessories</span>
                  </div>
                  <div class="btm-wrap">
                    <span class="btm"></span>
                  </div>
                </div>
                <div class="item j-nav-img-item">
                  <a class="img-a" href="http://www.shein.com/global-sweaters-sweatshirts-y-vc-40988.html?icn=sweaterssweatshirts&amp;ici=www_navbar01banner03"><img src="catalog/view/theme/default/image/index/15129622032972063278.jpg" alt="The Winter Shop" /></a>
                  <div class="btm-wrap">
                    <span class="btm-strong">The Winter Shop</span>
                  </div>
                  <div class="btm-wrap">
                    <span class="btm"></span>
                  </div>
                </div>
              </div>
            </div>
          </div> </li>
      {% endfor %}

      </ul>
    </div>
  </div>
  <script>

      function GB_isMobile_she(){
          return navigator.userAgent.toLowerCase().match(/phone|pad|pod|iphone|ipod|ios|ipad|android/);
      }
      /*hover延迟0.2秒加载 2017.2.5 wxy*/
      (function(a) {
          a.fn.hoverDelay = function(c, f, g, b) {
              var g = g || 200,   //hover entry time
                  b = b || 200,       //hover departure time
                  f = f || c;
              var e = [],
                  d = [];
              return this.each(function(h) {
                  a(this).mouseenter(function() {
                      var i = this;
                      clearTimeout(d[h]);
                      e[h] = setTimeout(function() {
                              c.apply(i)
                          },
                          g)
                  }).mouseleave(function() {
                      var i = this;
                      clearTimeout(e[h]);
                      d[h] = setTimeout(function() {
                              f.apply(i)
                          },
                          b)
                  })
              })
          }
      })(jQuery);

      //移动设备不延时。
      $(".nav-wrap > li")[GB_isMobile_she()?"hover":"hoverDelay"](function(){
          var $first_link = $(this).find('.first-link')
          $(this).find('.dropdown-mask').show();
          $(this).find('.dropdown-wrap').show();
          var link = $(this).find(".first-link").attr('link');
          $first_link.attr({href: $first_link.attr('link')});

      },function(i){
          $(this).find('.dropdown-mask').hide();
          $(this).find('.dropdown-wrap').hide();
      });



  </script>
{% endif %}

