{{ header }}
<div class="container forget-password">
  <div class="forget-password-con">
    <div class="operate-hint">
      <h2>Forgotten Password</h2>
      <p class="forget-top-title">If you’ve forgotten your password, please enter your registered email address. <br />We’ll send you a link to reset your password. </p>
    </div>
    <div class="input-email-bg">
      <form action="javascript:;" name="theForm" method="post">
        <div class="forget-input-bg forget_verify">
          <input name="email" id="email" class="forget-email-input" value="" type="text" />
          <input class="forget_submit she-btn she-btn-sm-prim" value="Continue" onclick="check_form();" type="button" />
          <img src="loading_vc554483.gif" class="forget_waiting" />
          <p id="tip" class="forget_error_title" style="color: rgb(255, 0, 0);"></p>
        </div>
        <div class="forget-input-bg forget_verify_success">
          <p id="verify_success_title" class="forget_success_title" style="color: rgb(255, 0, 0);"></p>
        </div>
      </form>
    </div>
  </div>
</div>
{{ footer }}
