{{ header }}
      {{ column_left }}
    <div class="she-center col-sm-9 col-xs-12 per-setting">
        <div class="row m-my-account">
            <div class="col-xs-9 c-tickets j-tickets">
                <div class="ticket-list-wrap">
                    <h3>My Tickets</h3>
                    <div class="no-ticket" style="margin-bottom: 40px;">
                        <p>Any questions or concerns? Chat with us now!</p>
                        <div class="c-icon-tip-spec">
        <span class="with-arrow-bottom">
         <div class="she-btn-black she-btn-x hd-zendesk" onclick="showPreRobot()">
          <i class="iconfont icon-online"></i> Online Help
         </div> </span>
                            <em class="tip-bottom"> Any questions or concern? Chat with us for timely help! </em>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
    $(function () {
        $('.j-member-ticket').addClass('area');
    });
</script>
