{{ header }}
<div class="indexHomeBody" id="GA_SHE_ID">
  <div class="container-fluid">
    <input id="update_price_type" name="update_price_type" value="goods" type="hidden" />
    <input id="update_price_goods_id" name="update_price_goods_id" value="407488" type="hidden" />
    <div class="m-productd">
      <ul class="she-breadcrumb">
        <li> <a rel="nofollow" href="http://www.shein.com/"> Home </a> </li>
        <li> <a class="gap-top-cats" title="Dresses" href="http://www.shein.com/women-dresses-c-1727.html"> Dresses </a> </li>
        <li class="dropdown">
          <div class="dropdown-title">
            <span> <a class="gap-cats" href="http://www.shein.com/attribute-279_27983-1727.html" title="Party"> Party </a> </span>
            <span class="arrow-du"> </span>
          </div>
          <ul class="dropdown-menu">
            <li> <a href="http://www.shein.com/attribute-279_27983-1727.html" title="Party"> Party </a> </li>
          </ul> </li>
        <li> Flounce Embellished Tied Neck Dress </li>
      </ul>
      <div class="row">
        <div class="mdts-left col-md-7 col-sm-7">
          <div class="img-ctn">
            <div class="img-thumbs">
              <div class="thumbs-wrapper j-thumbs" style="height: 776px;">
                <div class="thumbs-item j-slideto active" data-slideto="-1">
                  <div class="vertical-wrap">
                    <img alt="Flounce Embellished Tied Neck Dress" src="/catalog/view/theme/default/image/detail/15107394912945120341_thumbnail_220x293.jpg" data-src="http://img.ltwebstatic.com/images/pi/201711/33/15107394912945120341_thumbnail_220x293.jpg" id="sphoto407488" />
                  </div>
                </div>
                <div class="thumbs-item j-slideto" data-slideto="0">
                  <div class="vertical-wrap">
                    <img alt="" src="/catalog/view/theme/default/image/detail/15107394892061671204_thumbnail_220x293.jpg" id="sphoto1608022" />
                  </div>
                </div>
              </div>
            </div>
            <div class="img-top swiper-container j-mdts-swiper-container swiper-container-horizontal" style="height: 765.314px; cursor: grab;">
              <div class="img-ctn-prev swiper-button-prev iconfont shein-arrow">
                
              </div>
              <div class="swiper-wrapper" style="transform: translate3d(-574px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 574px;">
                  <img class="j-lazy-dpr-img" data-src="http://img.ltwebstatic.com/images/pi/201711/33/15107394912945120341.jpg" id="sphoto407488" src="/catalog/view/theme/default/image/detail/15107394912945120341_thumbnail_600x.jpg" />
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 574px;">
                  <img class="j-lazy-dpr-img" data-src="http://img.ltwebstatic.com/images/pi/201711/33/15107394912945120341.jpg" id="sphoto407488" src="/catalog/view/theme/default/image/detail/15107394912945120341_thumbnail_600x.jpg" />
                </div>
              </div>
              <div class="img-ctn-next swiper-button-next iconfont shein-arrow">
                
              </div>
            </div>
          </div>
          <div class="show_video_section" style="display: none;" onclick="videoclose();">
          </div>
          <div class="share">
            <ul class="addthis_custom_sharing" data-url="http://www.shein.com/Flounce-Embellished-Tied-Neck-Dress-p-407488-cat-1727.html" style="clear: both;" data-title="Flounce Embellished Tied Neck Dress -SheIn(Sheinside)" data-description="Shop Flounce Embellished Tied Neck Dress online. SheIn offers Flounce Embellished Tied Neck Dress &amp; more to fit your fashionable needs.">
              <div id="atstbx2" class="at-share-tbx-element addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-6c9a9f86-2896-4319-964f-8cf6a5bbe625" role="region">
                <span id="at-6c9a9f86-2896-4319-964f-8cf6a5bbe625" class="at4-visually-hidden"> AddThis Sharing Buttons </span>
                <div class="at-share-btn-elements">
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Facebook </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-facebook-1">
                                                            Facebook
                                                        </title>
              <g>
               <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-messenger" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Facebook Messenger </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-messenger-2" class="at-icon at-icon-messenger" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-messenger-2">
                                                            Facebook Messenger
                                                        </title>
              <g>
               <path d="M16 6C9.925 6 5 10.56 5 16.185c0 3.205 1.6 6.065 4.1 7.932V28l3.745-2.056c1 .277 2.058.426 3.155.426 6.075 0 11-4.56 11-10.185C27 10.56 22.075 6 16 6zm1.093 13.716l-2.8-2.988-5.467 2.988 6.013-6.383 2.868 2.988 5.398-2.987-6.013 6.383z" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Twitter </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-3" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-twitter-3">
                                                            Twitter
                                                        </title>
              <g>
               <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-pinterest_share" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Pinterest </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-pinterest_share-4" class="at-icon at-icon-pinterest_share" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-pinterest_share-4">
                                                            Pinterest
                                                        </title>
              <g>
               <path d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-vk" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Vkontakte </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-vk-5" class="at-icon at-icon-vk" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-vk-5">
                                                            Vkontakte
                                                        </title>
              <g>
               <path d="M26.712 10.96s-.167-.48-1.21-.348l-3.447.024a.785.785 0 0 0-.455.072s-.204.108-.3.37a22.1 22.1 0 0 1-1.28 2.695c-1.533 2.61-2.156 2.754-2.407 2.587-.587-.372-.43-1.51-.43-2.323 0-2.54.382-3.592-.756-3.868-.37-.084-.646-.144-1.616-.156-1.232-.012-2.274 0-2.86.287-.396.193-.695.624-.515.648.227.036.742.143 1.017.515 0 0 .3.49.347 1.568.13 2.982-.48 3.353-.48 3.353-.466.252-1.28-.167-2.478-2.634 0 0-.694-1.222-1.233-2.563-.097-.25-.288-.383-.288-.383s-.216-.168-.527-.216l-3.28.024c-.504 0-.683.228-.683.228s-.18.19-.012.587c2.562 6.022 5.483 9.04 5.483 9.04s2.67 2.79 5.7 2.597h1.376c.418-.035.634-.263.634-.263s.192-.214.18-.61c-.024-1.843.838-2.12.838-2.12.838-.262 1.915 1.785 3.065 2.575 0 0 .874.6 1.532.467l3.064-.048c1.617-.01.85-1.352.85-1.352-.06-.108-.442-.934-2.286-2.647-1.916-1.784-1.665-1.496.658-4.585 1.413-1.88 1.976-3.03 1.796-3.52z" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-google_plusone_share" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Google+ </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-google_plusone_share-6" class="at-icon at-icon-google_plusone_share" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-google_plusone_share-6">
                                                            Google+
                                                        </title>
              <g>
               <path d="M12 15v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12zm15 0h-2v-2h-2v2h-2v2h2v2h2v-2h2v-2z" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                  <a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-tumblr" style="background-color: rgb(34, 34, 34); border-radius: 50%;"> <span class="at4-visually-hidden"> Share to Tumblr </span> <span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-tumblr-7" class="at-icon at-icon-tumblr" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
              <title id="at-svg-tumblr-7">
                                                            Tumblr
                                                        </title>
              <g>
               <path d="M19.59 22.176c-.392.186-1.14.348-1.695.362-1.682.045-2.008-1.18-2.022-2.07V13.93h4.218v-3.18H15.89V5.403h-3.076c-.05 0-.138.044-.15.157-.18 1.636-.947 4.51-4.133 5.66v2.71h2.124v6.862c0 2.35 1.733 5.688 6.308 5.61 1.544-.028 3.258-.674 3.637-1.23l-1.01-2.996" fill-rule="evenodd">
               </path>
              </g>
             </svg> </span> </a>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div class="pd-right col-md-5 col-sm-5">
          <h2 class="name"> <span class="goods-brand"> SHEIN </span> Flounce Embellished Tied Neck Dress </h2>
          <div class="summary">
            <span class="state"> In Stock </span>
            <span class="sku" data-sku="dress171116707" data-spu="dress171116707"> SKU: <span id="productCodeSpan"> dress171116707 </span> </span>
            <div class="comments">
              <div class="star">
                <i class="star-icon iconfont">  </i>
                <i class="star-icon iconfont">  </i>
                <i class="star-icon iconfont">  </i>
                <i class="star-icon iconfont">  </i>
                <i class="star-icon iconfont">  </i>
              </div>
              <a class="Rating_div" href="http://www.shein.com/Flounce-Embellished-Tied-Neck-Dress-p-407488-cat-1727.html#to_review" rel="nofollow"> ( <span class="cmtNum"> 3 </span> ) </a>
            </div>
          </div>
          <div class="price">
            <div class="goodPrice_good">
              <span class="good_Original"> Original Price : </span>
              <div class="goodPrice" id="shop_price_u" price="US$17.00">
                <span id="spanSubTotal_" class="good_spantotal"> US$17.00 </span>
              </div>
            </div>
          </div>
          <input name="goods_id" value="407488" type="hidden" />
          <input name="goods_sn" id="goods_sn" value="dress171116707" type="hidden" />
          <input name="goods_name" value="Flounce Embellished Tied Neck Dress" type="hidden" />
          <input name="action" value="add" type="hidden" />
          <div class="option">
            <div class="size she-filter-box j-size">
              <div class="size-t">
                <span class="she-select"> Size </span>
                <span class="size-guide she-text-btn-light" onclick="get_detail();"> size guide </span> &nbsp;&nbsp;
                <div class="size-recom-wrap" onclick="get_findSize();">
                  <span class="size-guide she-text-btn-light she-text-btn j-size-signs j-size-none" style=""> Size Recommended: </span>
                  <span class="size-guide she-text-btn-light j-size-results j-size-none size-results-icon" style="background-color: rgb(0, 0, 0);"> S </span>
                </div>
              </div>
              <ul class="she-swatches" id="goods_size" data-length="4">
                <label class="label-radio" for="XS" value-id="27713" value-stock="1000000" value-select="false" value-caption="XS"> <input value="1" id="XS" name="size" type="radio" /> <li class="active"> <span> XS </span> </li> </label>
                <label class="label-radio" for="S" value-id="27723" value-stock="1000000" value-select="false" value-caption="S"> <input value="1" id="S" name="size" type="radio" /> <li> <span> S </span> </li> </label>
                <label class="label-radio" for="M" value-id="27733" value-stock="1000000" value-select="false" value-caption="M"> <input value="1" id="M" name="size" type="radio" /> <li> <span> M </span> </li> </label>
                <label class="label-radio" for="L" value-id="27743" value-stock="1000000" value-select="false" value-caption="L"> <input value="1" id="L" name="size" type="radio" /> <li> <span> L </span> </li> </label>
              </ul>
              <div class="size-tip j-size-tip" style="display:block">
                Please select Size
              </div>
              <input id="attr_value_list_407488_277" value="" type="hidden" />
            </div>
            <div class="size-description" style="display:block">
              <span class="size-desc-detail" id="size_xs" style="display:block"> Shoulder:33cm, &nbsp;Bust:80cm, &nbsp;Waist Size:66cm, &nbsp;Hip Size:92cm, &nbsp;Length:84cm. </span>
            </div>
            <div class="she-filter-box qty">
              <span class="she-select fl"> Qty </span>
              <ul class="she-swatches she-stock" id="quantitySelect">
                <li class="j-reduce-wrap reduce-wrap disable"> <span class="she-operator reduce j-reduce disable iconfont" onclick="setAmount.reduce('#407488')">  </span> </li>
                <input id="407488" class="she-text qty-val" name="quantity" value="1" onblur="setAmount.modify('#407488')" type="text" />
                <li class="j-detail-add-wrap reduce-wrap"> <span class="j-detail-add reduce she-operator increase iconfont" onclick="setAmount.add('#407488')">  </span> </li>
              </ul>
              <div class="is-show-stock" id="is_show_stock" style="display:;">
                (Only
                <strong id="units_in_stock"> 1000000 </strong> left!)
              </div>
            </div>
            <div class="total" id="totaley">
              Total :
              <div class="total-val" id="totalyy">
                US$17.00
              </div>
            </div>
            <div class="earn-point">
              <input id="get_point" name="get_point" value="1.00" type="hidden" />
              <input id="get_double_point" name="get_double_point" value="0" type="hidden" />
              <p id="reward-points-info"> &nbsp;&nbsp; Earn <span class="point-biao point-num" id="j2t-pts"> 17 </span> <span class="point-biao"> <a href="http://www.shein.com/bonus-point-program-a-371.html" target="_top"> SheIn Points </a> </span> </p>
              <div class="x-line">
              </div>
            </div>
            <p class="only_one_p only_one_p_407488" style="display:;"> purchase limit exceeded </p>
          </div>
          <div class="submit-btn detail-submit-btn">
            <div class="red display-none  j-limit-tip">
              Limited to purchasing
              <span class="red"> 7 </span> only!
            </div>
            <div class="add-to-bag she-btn-black she-btn-xl" name="addToCart" onclick="low_price_sale_add_to_cart(407488, 'dress171116707');">
              <div id="addto_407488">
                Add To Bag
              </div>
            </div>
            <div class="save addToWishList she-btn-white she-btn-xl addedWishList" id="addToWishList">
              <div class="addtowish-txt" style="display: block;">
                <i class="iconfont icon-like" style="color: rgb(213, 51, 51);"> </i>
              </div>
            </div>
            <div id="goods_attr_407488" class="soldout-goods">
              <input id="attr_list" value="277||279||284||286||278||283||280||290||282||1644||2161||1761||303||304||305||306||307||393" type="hidden" />
            </div>
          </div>
          <div class="description-accordion j-description-accordion">
            <div class="description goods_description default j-goods-description">
              <h3> <span class="description-modello-title"> Description </span> <span class="vis iconfont">  </span> <span class="hid iconfont">  </span> </h3>
              <div class="description-con goods_description_con" style="display: block;">
                <table class="kv">
                  <tbody>
                  <tr>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Style: </td>
                    <td class="val"> Party </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Dresses Length: </td>
                    <td class="val"> Short </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Decoration: </td>
                    <td class="val"> Ruffle, Ruffle Hem, Zipper, Tie Neck </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Color: </td>
                    <td class="val"> Red </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Silhouette: </td>
                    <td class="val"> Sheath </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Material: </td>
                    <td class="val"> 95% Polyester, 5% Spandex </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Pattern Type: </td>
                    <td class="val"> Plain </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Sleeve Length: </td>
                    <td class="val"> Cap Sleeve </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Fabric: </td>
                    <td class="val"> Fabric has some stretch </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Waist Line: </td>
                    <td class="val"> Drop Waist </td>
                  </tr>
                  <tr>
                    <td class="key" valign="top"> Season: </td>
                    <td class="val"> Summer </td>
                  </tr>
                  <tr>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="description goods_description j-size-fit">
              <h3> <span class="description-modello-title she-first-letter-upper"> Size &amp; Fit </span> <span class="vis iconfont">  </span> <span class="hid iconfont">  </span> </h3>
              <div class="description-con goods_description_con" style="display:block">
                <table class="kv">
                  <tbody>
                  <tr>
                    <td class="key she-first-letter-upper" colspan="2" valign="top"> Model is in size S </td>
                  </tr>
                  <tr>
                    <td class="key she-first-letter-upper" valign="top"> model Measurements: </td>
                    <td class="val" style="text-transform: capitalize;"> height: 175cm / 5'9&quot;, bust: 88cm / 35&quot;, <br /> waist: 60cm / 24&quot;, hip: 88cm / 35&quot;. </td>
                  </tr>
                  <tr>
                    <td class="key she-first-letter-upper" colspan="2" valign="top"> Item Measurements: </td>
                  </tr>
                  <tr>
                    <td> Shoulder(cm): </td>
                    <td> XS:33cm, S:34cm, M:35cm, L:36cm </td>
                  </tr>
                  <tr>
                    <td> Bust(cm): </td>
                    <td> XS:80cm, S:84cm, M:88cm, L:92cm </td>
                  </tr>
                  <tr>
                    <td> Waist Size(cm): </td>
                    <td> XS:66cm, S:70m, M:74cm, L:78cm </td>
                  </tr>
                  <tr>
                    <td> Hip Size(cm): </td>
                    <td> XS:92cm, S:96cm, M:100cm, L:104cm </td>
                  </tr>
                  <tr>
                    <td> Length(cm): </td>
                    <td> XS:84cm, S:85cm, M:86cm, L:87cm </td>
                  </tr>
                  <tr>
                    <td> Size Available: </td>
                    <td> XS,S,M,L </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="description goods_description j-delivery">
              <h3> <span class="description-modello-title"> Delivery </span> <span class="vis iconfont">  </span> <span class="hid iconfont">  </span> </h3>
              <div class="description-con" style="display:block">
                <div class="blank12">
                </div>
                <div class="box-review">
                  <div class="delivery-concat-content">
                    <strong style="text-transform: capitalize;"> Free shipping on orders over US$58 </strong>
                    <br />
                    <p style="font-size=2;text-transform: capitalize;"> standard shipping: 5-10 Business Days </p>
                    <p style="font-size=2;text-transform: capitalize;"> express shipping: 5-7 Business Days </p>
                  </div>
                  <p> <font size="2"> <br /> Receiving time = Processing time +Shipping time <u> <br /> <br /> <a href="http://www.shein.com/Shipping-Info-a-280.html"> Learn More </a> </u> </font> </p>
                </div>
              </div>
            </div>
            <div class="description goods_description j-return">
              <h3> <span class="description-modello-title"> <span> Return Policy </span> </span> <span class="vis iconfont">  </span> <span class="hid iconfont">  </span> </h3>
              <div class="description-con" style="display: none;">
                <div class="blank12">
                </div>
                <div class="box-review">
                  <p> <font size="2"> <strong> Our Guarantee </strong> <br /> Return or exchange <u> <strong> within 30 days </strong> </u> from the delivered date. <br /> </font> </p>
                  <p> <font size="2"> Request: <br /> 1. Items received within 30 days from the delivered date. <br /> 2. Items received unused, undamaged and in original package. <br /> 3. Return shipping fee is paid by buyer. </font> </p>
                  <p> <font size="2"> <br /> <a href="http://www.shein.com/Return-Policy-a-281.html"> Learn More </a> </font> </p>
                </div>
              </div>
            </div>
          </div>
          <div class="000">
          </div>
          <div id="to_description">
          </div>
        </div>
        <div id="good_size_reference" style="display: none;">
          <div class="sg-ctn0">
            <div class="return_dialog_bg" style="display: none;">
            </div>
            <div class="sg-ctn1">
              <div class="hidectn-mask" onclick="hideReference()">
              </div>
              <div class="sg-ctn">
                <div class="sg-ctn2 j-sg-ctn">
                  <div class="sg-title">
                    size guide
                  </div>
                  <div class="sg-close iconfont" onclick="hideReference()">
                    
                  </div>
                  <div class="sg-table-wrap">
                    <div class="units-opt">
                      <label class="she-radioed she-radio-checked j-show-cm"> <i> </i> </label>
                      <span> Cm </span>
                      <label class="she-radioed j-show-inch"> <i> </i> </label>
                      <span> Inch </span>
                    </div>
                    <table class="sg-table j-cm-table" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr class="trhead">
                        <td class="border-right"> Size </td>
                        <td class="border-right"> XS </td>
                        <td class="border-right"> S </td>
                        <td class="border-right"> M </td>
                        <td> L </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Shoulder </td>
                        <td class="border-right"> 33 </td>
                        <td class="border-right"> 34 </td>
                        <td class="border-right"> 35 </td>
                        <td> 36 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Bust </td>
                        <td class="border-right"> 80 </td>
                        <td class="border-right"> 84 </td>
                        <td class="border-right"> 88 </td>
                        <td> 92 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Waist Size </td>
                        <td class="border-right"> 66 </td>
                        <td class="border-right"> 70m </td>
                        <td class="border-right"> 74 </td>
                        <td> 78 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Hip Size </td>
                        <td class="border-right"> 92 </td>
                        <td class="border-right"> 96 </td>
                        <td class="border-right"> 100 </td>
                        <td> 104 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Length </td>
                        <td class="border-right"> 84 </td>
                        <td class="border-right"> 85 </td>
                        <td class="border-right"> 86 </td>
                        <td> 87 </td>
                      </tr>
                      </tbody>
                    </table>
                    <table class="sg-table j-inch-table" style="display: none;" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr class="trhead">
                        <td class="border-right"> Size </td>
                        <td class="border-right"> XS </td>
                        <td class="border-right"> S </td>
                        <td class="border-right"> M </td>
                        <td> L </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Shoulder </td>
                        <td id="_s_0" class="inch_value"> 13.0 </td>
                        <td id="_s_1" class="inch_value"> 13.4 </td>
                        <td id="_s_2" class="inch_value"> 13.8 </td>
                        <td id="_s_3" class="inch_value"> 14.2 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Bust </td>
                        <td id="_s_0" class="inch_value"> 31.5 </td>
                        <td id="_s_1" class="inch_value"> 33.1 </td>
                        <td id="_s_2" class="inch_value"> 34.6 </td>
                        <td id="_s_3" class="inch_value"> 36.2 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Waist Size </td>
                        <td id="_s_0" class="inch_value"> 26.0 </td>
                        <td id="_s_1" class="inch_value"> 27.6m </td>
                        <td id="_s_2" class="inch_value"> 29.1 </td>
                        <td id="_s_3" class="inch_value"> 30.7 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Hip Size </td>
                        <td id="_s_0" class="inch_value"> 36.2 </td>
                        <td id="_s_1" class="inch_value"> 37.8 </td>
                        <td id="_s_2" class="inch_value"> 39.4 </td>
                        <td id="_s_3" class="inch_value"> 40.9 </td>
                      </tr>
                      <tr class="cm-inch">
                        <td class="border-right subtitle"> Length </td>
                        <td id="_s_0" class="inch_value"> 33.1 </td>
                        <td id="_s_1" class="inch_value"> 33.5 </td>
                        <td id="_s_2" class="inch_value"> 33.9 </td>
                        <td id="_s_3" class="inch_value"> 34.3 </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <p id="goods_dash_tip" class="sg-tip"> </p>
                  <div class="measure-guide">
                    <h5> How to measure </h5>
                    <p> This size chart is for reference purposes only. Note that sizing will vary between brands. </p>
                  </div>
                  <div class="measure-pic">
                    <div class="measure-pic0">
                      <img src="/catalog/view/theme/default/image/detail/size_guide_vf8e71a0.png" />
                    </div>
                    <div class="measure-pic-guide">
                      <div class="measure-wrap">
                        <h6> <span> 1 </span> Bust </h6>
                        <p> Measure under your arms around the fullest part of your bust. Make sure to keep the tape level! </p>
                      </div>
                      <div class="measure-wrap">
                        <h6> <span> 2 </span> Waist </h6>
                        <p> Make sure the measuring tape fits comfortably as you measure around the narrowest part of your natural waist. </p>
                      </div>
                      <div class="measure-wrap">
                        <h6> <span> 3 </span> Hips </h6>
                        <p> Stand with your feet together, and measure around the widest part of your hips. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br class="clear" />
    <div class="product-review">
      <div id="good_bottom" class="good-sg-wrap">
        <div id="good_bottom_left">
          <div class="style-gallery propagandize">
            <h3> Style Gallery </h3>
            <div class="style-gallery-txt">
              <p> The Style Gallery is a great new way for you to share outfit photos. It's meant to show all the expressive, creative and inspirational personalities! </p>
              <p class="sg-txt2"> Earn <em> 20 points </em> by uploading your own photo. </p>
            </div>
            <div class="style_gallery_btn style-gallery-btn">
              <a tittle="Upload your Photo" class="she-btn-black" href="http://www.shein.com/index.php?model=lookbook&amp;action=post_image&amp;regfrom=sgr"> Upload your Photo </a>
            </div>
          </div>
        </div>
      </div>
      <br class="clear" />
      <div class="custom-reviews j-review-custom" style="position: relative;">
        <div id="to_review">
        </div>
        <h3> Customer Reviews ( <span> 3 </span> ) </h3>
        <div class="summary dts-summary">
          <div class="rating" style="margin-left: 11.5%;">
            <div class="rating-ctn">
              <span class="key"> Average Rating </span>
              <div class="star">
                <span> <i index="1" class="iconfont star-icon">  </i> <i index="2" class="iconfont star-icon">  </i> <i index="3" class="iconfont star-icon">  </i> <i index="4" class="iconfont star-icon">  </i> <i index="5" class="iconfont star-icon">  </i> </span>
                <span class="val"> 5.0 </span>
              </div>
            </div>
          </div>
          <div class="fit-well">
            <span class="fit-well-title"> Did the item fit well? </span>
            <div class="filter-wrap">
              <ul class="filter-list">
                <li class="filter-item">
                  <div class="filter-title-box">
                    <span class="key-title"> Small </span>
                  </div>
                  <div class="fit-well-bar">
                    <div class="item_fit_precent" style="display: none;">
                      0%
                    </div>
                    <div class="bar">
                      <span class="bar-unfill"> <span class="bar-fill small-bar" style=""> </span> </span>
                    </div>
                  </div> </li>
                <li class="filter-item">
                  <div class="filter-title-box">
                    <span class="key-title"> True to Size </span>
                  </div>
                  <div class="fit-well-bar">
                    <div class="item_fit_precent" style="display: none;">
                      100%
                    </div>
                    <div class="bar">
                      <span class="bar-unfill"> <span class="bar-fill true-bar" style=""> </span> </span>
                    </div>
                  </div> </li>
                <li class="filter-item">
                  <div class="filter-title-box">
                    <span class="key-title"> Large </span>
                  </div>
                  <div class="fit-well-bar">
                    <div class="item_fit_precent" style="display: none;">
                      0%
                    </div>
                    <div class="bar">
                      <span class="bar-unfill"> <span class="bar-fill large-bar" style=""> </span> </span>
                    </div>
                  </div> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="review-details" style="position: relative;">
          <div class="row goods-reivew-item">
            <div class="col-md-3 goods-review-pageinfo">
              <div>
                1–3 of 3 Reviews
              </div>
            </div>
            <div class="col-md-9">
              <div class="goods-review-size fl">
                <span> <em style="font-style: normal;"> size </em> <i class="iconfont">  </i> </span>
                <ul>
                  <li> All </li>
                  <li> XS </li>
                  <li> S </li>
                  <li> M </li>
                  <li> L </li>
                </ul>
              </div>
              <div class="goods-review-picture fl">
                <span> Image <i class="iconfont">  </i> </span>
                <ul>
                  <li class="select-size"> All </li>
                  <li class=""> With Picture </li>
                  <li class=""> No Picture </li>
                </ul>
              </div>
              <div class="goods-review-list">
                <div class="list-item">
                  <div class="item-drop j-reivew-list fr">
                    <span class="she-drop-normal btn1"> Recommend <i class="iconfont">  </i> </span>
                    <ul class="she-drop-normal-ul">
                      <li class="select-size"> <a href="javascript:void(0)"> Recommend </a> </li>
                      <li> <a href="javascript:void(0)"> Most Recent to Oldest </a> </li>
                      <li> <a href="javascript:void(0)"> Oldest to Most Recent </a> </li>
                      <li> <a href="javascript:void(0)"> Likes High to Low </a> </li>
                    </ul>
                  </div>
                  <div class="item-drop fr" style="padding-right: 5px;">
                    Sort by
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <div class="item row">
            <div class="user col-md-3">
              <div class="user-msg">
                <span class="username"> *** </span>
                <span class="if-verified"> <i class="iconfont" style="font-size: 12px; font-style: normal; color: rgb(34, 34, 34); margin-right: 5px;">  </i> Verified Purchase </span>
                <!---->
              </div>
            </div>
            <div class="comment-ctn col-md-9">
              <div class="comment-character review_para">
                <div class="star">
                  <span> <i index="1" class="iconfont star-icon">  </i> <i index="2" class="iconfont star-icon">  </i> <i index="3" class="iconfont star-icon">  </i> <i index="4" class="iconfont star-icon">  </i> <i index="5" class="iconfont star-icon">  </i> </span>
                  <!---->
                </div>
                <div class="size">
                  Item Size:
                  <div class="pos-wrap">
                    <span class="size-val"> L </span>
                  </div>
                </div>
                <!---->
                <div class="publish-time">
                  <span> 24 Dec,2017 </span>
                </div>
                <p class="remark"> This Sweet little red dress is so festive.. the ruffle on the arms and down the sides is a very forgiving detail.. slimmer and taller ? </p>
              </div>
              <div class="comment-img pic-wrap" data-swiper-index="0">
                <img src="/catalog/view/theme/default/image/detail/0015151514054314644343629.jpg" />
                <img src="/catalog/view/theme/default/image/detail/0015151514054315989609834.jpg" />
              </div>
              <div class="reviw_issue">
                <div class="praise-wrap">
                  <em> Was this review helpful to you? </em>
                  <i data-operation="1" class="iconfont icon-praise">  </i>
                  <label> 2 </label>
                </div>
              </div>
              <!---->
              <div class="review" style="display: none;">
                <div class="fs-swiper active">
                  <div class="swiper-button-prev fs-prev shein-arrow iconfont rw-prev0 swiper-button-disabled">
                    
                  </div>
                  <div class="swiper-container swiper-container-horizontal fs-swiper-container rw-swiper-container0">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                      <div class="swiper-slide swiper-slide-active" style="background-image: url('/catalog/view/theme/default/image/detail/0015151514054314644343629.jpg'); width: 592px; margin-right: 3px;">
                      </div>
                      <div class="swiper-slide swiper-slide-next" style="background-image: url('/catalog/view/theme/default/image/detail/0015151514054315989609834.jpg'); width: 592px; margin-right: 3px;">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next fs-next shein-arrow iconfont rw-next0">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row goods-review-page">
          <div class="col-md-3">
            <div>
              1–3 of 3 Reviews
            </div>
          </div>
          <div class="col-md-9" style="text-align: right;">
            <ul class="c-pagination" simple="true">
              <li class="page-prev caret-disabled"> ◄ </li>
              <li class="page-current"> 1 </li>
              <li class="page-next caret-disabled"> ► </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="return_img_big" style="display: none;">
        <div class="return_dialog_bg" onclick="close_translate_src()" style="opacity: 0.3;display: none">
        </div>
        <div class="tran_img_wrap">
          <div class="close_img" onclick="close_translate_src()">
          </div>
          <img src="flounce-embellished-tied-neck-dress-p-407488-cat-1727.html" />
        </div>
      </div>
      <div class="recommend">
        <div class="recommend-location-1 recommend-location recommend-location-emarsys" data-id="1" data-type="emarsys" data-system="emarsys+related" style="visibility: visible;" viewed="true">
          <div class="customers-also-viewed">
            <h3> Customers Also Viewed </h3>
            <div class="also-viewed-swiper">
              <div class="also-viewed-prev swiper-button-prev iconfont shein-arrow j-emarsys-prev-1 swiper-button-disabled">
                
              </div>
              <div class="also-viewed-swiper-container j-also-viewed-container-1 swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper " id="also_view_products_list_1">
                  <div data-scarabitem="407089" class="swiper-slide list_all_items swiper-slide-active" vip_sale="no" sort_order="append" special_price_hide="yes" alt1="dress171115707" data-spu="dress171115707" price="15" style="width: 162.5px; margin-right: 15px;">
                    <div class="alsoLike-aImg">
                      <a rel="nofollow" title="Rhinestone And Bow Embellished Ruffle Trim Dress" href="http://www.shein.com/Rhinestone-And-Bow-Embellished-Ruffle-Trim-Dress-p-407089-cat-1727.html?cv=emarsy&amp;recommend=Customers%20Also%20Viewed"> <img alt="Rhinestone And Bow Embellished Ruffle Trim Dress" src="/catalog/view/theme/default/image/detail/15106544277121228270_thumbnail_220x293.jpg" /> </a>
                    </div>
                    <h4 class="goods-aImg-list list_all_items_price">
                      <div id="cat-product-list_USD" class="product-list list_all_items_price" alt1="dress171115707" style="">
                        <span id="USD_shop_price_member_price_off" class="index-price shop_price final_price" price="US$15"> <strong class="final_price_strong"> US$15 </strong> </span>
                      </div> </h4>
                  </div>
                </div>
              </div>
              <div class="also-viewed-next swiper-button-next iconfont shein-arrow j-emarsys-next-1">
                
              </div>
            </div>
          </div>
        </div>
        <div data-site="www" data-vue="1" class="recomend-config-wrap j-config-wrap-1" style="display: none;">
          <h3> </h3>
          <div class="recomend-config-swiper">
            <div class="swiper-button-prev iconfont shein-arrow j-btn-prev-1">
              
            </div>
            <div class="swiper-container j-con-container-1">
              <div class="swiper-wrapper">
              </div>
            </div>
            <div class="swiper-button-next iconfont shein-arrow j-btn-next-1">
              
            </div>
          </div>
        </div>
        <div class="recommend-location-2 recommend-location recommend-location-emarsys" data-id="2" style="display: none;">
          <div class="customers-also-viewed">
            <h3> Customers Also Viewed </h3>
            <div class="also-viewed-swiper">
              <div class="also-viewed-prev swiper-button-prev iconfont shein-arrow j-emarsys-prev-2">
                
              </div>
              <div class="also-viewed-swiper-container j-also-viewed-container-2 swiper-container">
                <div class="swiper-wrapper " id="also_view_products_list_2">
                  <div class="swiper-slide">
                    <img src="/catalog/view/theme/default/image/detail/loading_vc554483.gif" class="cate_products_load" />
                  </div>
                </div>
              </div>
              <div class="also-viewed-next swiper-button-next iconfont shein-arrow j-emarsys-next-2">
                
              </div>
            </div>
          </div>
        </div>
        <div class="j-location-bestSellers recommend-location" viewed="true" style="visibility: visible;">
          <div class="best-sellers">
            <h3> Best Sellers </h3>
            <div class="best-sellers-swiper">
              <div class="best-sellers-prev swiper-button-prev iconfont shein-arrow swiper-button-disabled">
                
              </div>
              <div class="best-sellers-swiper-container swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-active" sort_order="append" special_price_hide="no" alt1="dress171116707" data-spu="dress171116707" price="17.00" style="width: 198px; margin-right: 15px;">
                    <a title="Flounce Embellished Tied Neck Dress" href="http://www.shein.com/Flounce-Embellished-Tied-Neck-Dress-p-407488-cat-1727.html?recommend=Best%20Sellers"> <img alt="Flounce Embellished Tied Neck Dress" src="/catalog/view/theme/default/image/detail/15107394912945120341_thumbnail_220x293.jpg" style="cursor: pointer;" /> </a>
                    <div id="cat-product-list_USD" alt1="dress171116707" data-spu="dress171116707" class="product-list list_all_items_price" style="display: block;">
                      <div id="cat-product-list_USD" class="product-list list_all_items_price" alt1="dress171116707" style="display: block;">
                        <span id="USD_shop_price_off" class="index-price shop_price final_price" price="17.00"> <strong class="final_price_strong"> US$17.00 </strong> </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="best-sellers-next swiper-button-next iconfont shein-arrow">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
