
<div class="cart-extra-info" id="comment-section">
  <label>
      {{ text_comments }}
  </label>
  <div class="list-input" style="box-sizing: border-box;">
    <textarea name="comment" \ cols="60" rows="10" placeholder="Optional" class="check_comment textarea resize" style="width: 100%; border-color: rgb(208, 208, 208);"></textarea>
  </div>
</div>