html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
img { border: medium none; }
ul, ol, li { list-style: outside none none; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
ul, li, h3, img, div { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
.position { float: left; width: 100%; margin-top: 15px; line-height: 20px; color: rgb(153, 153, 153); }
.position a { color: rgb(153, 153, 153); text-decoration: none; }
.selected { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(153, 153, 153); }
UL { list-style-type: none; }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, ul, ol, li, h3 { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
.red_num { color: rgb(209, 0, 0); }
.she-breadcrumb, li, ol, ul { list-style: outside none none; }
img { border: medium none; }
.col-sm-3 { padding-right: 10px; padding-left: 10px; }
.container { padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto; }
.row { margin-right: -10px; margin-left: -10px; }
*, .she-breadcrumb { margin: 0px; padding: 0px; }
.she-breadcrumb > li { display: inline-block; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
.she-breadcrumb { height: 14px; background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(102, 102, 102); white-space: nowrap; }
.she-breadcrumb > li { height: 14px; }
.she-breadcrumb > li + li::before { content: "/"; color: rgb(153, 153, 153); }
.she-breadcrumb > li:first-child a:first-child { margin-right: 3px; }
.she-breadcrumb > li:last-child:not(a)::before { margin-right: 5px; }
.she-breadcrumb a, .she-breadcrumb li { color: rgb(153, 153, 153); }
.she-breadcrumb a:hover { color: rgb(102, 102, 102); }
.position { text-indent: 0px; margin-bottom: 40px; margin-top: 15px; }
.she-side { padding-right: 30px; }
.she-side-nav ul li { padding: 10px 0px; font-size: 14px; display: block; }
.she-side .she-title { margin-bottom: 14px; font-size: 24px; }
.she-side .she-side-nav li a { color: rgb(111, 111, 111); line-height: 1; }
.she-side .she-side-nav li a:hover { color: rgb(0, 0, 0); }
.she-side .she-side-nav li a.area { color: rgb(0, 0, 0); font-weight: 600; }

body { overflow-x: hidden; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}
@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}h3{orphans:3;widows:3}h3{page-break-after:avoid}}@font-face{font-family:'Glyphicons Halflings';src:url();src:url() format('embedded-opentype'),url() format('woff2'),url() format('woff'),url() format('truetype'),url() format('svg')}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h3{margin-top:20px;margin-bottom:10px}h3{font-size:24px}@-ms-viewport{width:device-width}



html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}nav{display:block}a{background-color:transparent}a:active,a:hover{outline:0}img{border:0}@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}img{page-break-inside:avoid}img{max-width:100%!important}h3{orphans:3;widows:3}h3{page-break-after:avoid}}@font-face{font-family:'Glyphicons Halflings';src:url();src:url() format('embedded-opentype'),url() format('woff2'),url() format('woff'),url() format('truetype'),url() format('svg')}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h3{margin-top:20px;margin-bottom:10px}h3{font-size:24px}ol,ul{margin-top:0;margin-bottom:10px}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-right:-15px;margin-left:-15px}.col-sm-3{position:relative;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width:768px){.col-sm-3{float:left}.col-sm-3{width:25%}}.container:after,.container:before,.row:after,.row:before{display:table;content:" "}.container:after,.row:after{clear:both}@-ms-viewport{width:device-width}
html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
button, input { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button { text-transform: none; }
button { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('') format("embedded-opentype"), url('') format("woff2"), url('') format("woff"), url('') format("truetype"), url('') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
.col-sm-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }
.table > thead:first-child > tr:first-child > th { border-top: 0px none; }
/* ::::: file:///C:/Users/Administrator/AppData/Roaming/Mozilla/Firefox/Profiles/8llj7apx.default/ScrapBook/data/20171230112059/index.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('@22@22') format("embedded-opentype"), url('@22@22') format("woff2"), url('@22@22') format("woff"), url('@22@22') format("truetype"), url('@22@22') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
.col-sm-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }
.table > thead:first-child > tr:first-child > th { border-top: 0px none; }
@font-face {
	font-family: "iconfont";
	src: url('font_92762_b59ma9fqm7fu5wmi.eot') format("embedded-opentype"), url('font_92762_b59ma9fqm7fu5wmi.woff') format("woff"), url('font_92762_b59ma9fqm7fu5wmi.ttf') format("truetype"), url('') format("svg");
}
html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
p, h3, div, p { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, h3, p, th, td { margin: 0px; padding: 0px; }
.col-sm-9 { padding-right: 10px; padding-left: 10px; }
* { margin: 0px; padding: 0px; }
.iconfont { font-family: iconfont !important; font-style: normal; display: inline-block; text-decoration: none; -moz-user-select: none; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
i { font-style: normal; }
.she-tl-h3 { color: rgb(38, 38, 38); font-weight: 700; }
.she-tl-h3 { font-size: 24px; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}
.she-btn-black, .she-btn-white { display: inline-block; }
.she-btn-black, .she-btn-white { margin: 0px; box-sizing: border-box; height: 36px; line-height: 34px; padding: 0px 16px; border: 1px solid rgb(34, 34, 34); font-size: 15px; text-align: center; vertical-align: middle; font-weight: 400; white-space: nowrap; text-transform: uppercase; transition: all 0.2s ease 0s; cursor: pointer; background-image: none; border-radius: 0px; touch-action: manipulation; -moz-user-select: none; }
.she-btn-black { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); }
.she-btn-white { background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); }
.she-btn-black:hover { background-color: rgb(68, 68, 68); border-color: rgb(68, 68, 68); text-decoration: none; }
.she-btn-white:hover { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); text-decoration: none; }
.she-btn-black:active:focus, .she-btn-black:focus, .she-btn-white:active:focus, .she-btn-white:focus { outline: 0px none; }
.she-btn-black:active, .she-btn-white:active { outline: 0px none; background-image: none; box-shadow: none; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('@22@22') format("embedded-opentype"), url('@22@22') format("woff2"), url('@22@22') format("woff"), url('@22@22') format("truetype"), url('@22@22') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
@font-face {
	font-family: "iconfont";
	src: url('font_92762_b59ma9fqm7fu5wmi.eot') format("embedded-opentype"), url('font_92762_b59ma9fqm7fu5wmi.woff') format("woff"), url('font_92762_b59ma9fqm7fu5wmi.ttf') format("truetype"), url('') format("svg");
}
html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
h3, div { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, h3 { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
body { overflow-x: hidden; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}
html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
button, input { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button { text-transform: none; }
button, html input[type="button"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('@22@22') format("embedded-opentype"), url('@22@22') format("woff2"), url('@22@22') format("woff"), url('@22@22') format("truetype"), url('@22@22') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
.col-sm-12, .col-sm-9, .col-xs-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }
.table > thead:first-child > tr:first-child > th { border-top: 0px none; }
@font-face {
	font-family: "iconfont";
	src: url('font_92762_b59ma9fqm7fu5wmi.eot') format("embedded-opentype"), url('font_92762_b59ma9fqm7fu5wmi.woff') format("woff"), url('font_92762_b59ma9fqm7fu5wmi.ttf') format("truetype"), url('') format("svg");
}
html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
p, h3, div, p { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
.popup_vote_color { background-color: rgb(0, 0, 0); height: 100%; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 1010; opacity: 0.3; }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, h3, input, button, p, th, td { margin: 0px; padding: 0px; }
.popup_uploading_bg { display: none; }
.popup_uploading_list { position: fixed; left: 50%; top: 50%; z-index: 1015; margin-left: -206px; margin-top: -150px; padding: 30px; background-color: rgb(255, 255, 255); width: 500px; text-align: center; font-size: 14px; color: rgb(49, 49, 49); }
.uploading_timeout_title { width: 70%; height: 45px; margin: 0px auto 20px; border-bottom: 1px solid rgb(178, 178, 178); }
.uploading_timeout_title span { width: 30px; height: 27px; display: inline-block; background: transparent url('browse-sprite_v48f3984.png') no-repeat scroll -121px -350px; }
.uploading_button { min-width: 170px; height: 36px; line-height: 36px; border: medium none; text-align: center; color: rgb(255, 255, 255); margin: 20px auto 0px; cursor: pointer; font-weight: 700; text-transform: uppercase; background-color: rgb(0, 0, 0); display: inline-block; }
a.close_vote { background: transparent url('') no-repeat scroll center center; cursor: pointer; height: 24px; width: 24px; position: absolute; right: 11px; top: 11px; border: 1px solid rgb(149, 149, 149); }
.error_website { color: rgb(255, 0, 0); }
a.close_vote { background: transparent url('') no-repeat scroll center center; cursor: pointer; height: 24px; width: 24px; position: absolute; right: 7px; top: 7px; border: 1px solid rgb(149, 149, 149); }
.popup_wallet_list { margin-top: -110px; }
.popup_wallet_list .uploading_timeout_title { height: 50px; border: medium none; }
.uploading_timeout_title span.wallet_icon { width: 47px; height: 47px; background-position: -235px -390px; }
.col-sm-12, .col-sm-9, .col-xs-12 { padding-right: 10px; padding-left: 10px; }
* { margin: 0px; padding: 0px; }
.iconfont { font-family: iconfont !important; font-style: normal; display: inline-block; text-decoration: none; -moz-user-select: none; }
.popup_vote_color { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1010; background-color: rgb(0, 0, 0); opacity: 0.3; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
input { font-family: Arial,Helvetica,sans-serif; }
i { font-style: normal; }
.she-btn-black, .she-btn-white { display: inline-block; }
.she-btn-black, .she-btn-white { margin: 0px; box-sizing: border-box; height: 36px; line-height: 34px; padding: 0px 16px; border: 1px solid rgb(34, 34, 34); font-size: 15px; text-align: center; vertical-align: middle; font-weight: 400; white-space: nowrap; text-transform: uppercase; transition: all 0.2s ease 0s; cursor: pointer; background-image: none; border-radius: 0px; touch-action: manipulation; -moz-user-select: none; }
.she-btn-xs { height: 24px !important; line-height: 22px !important; padding: 0px 10px !important; font-size: 12px !important; }
.she-btn-black { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); }
.she-btn-white { background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); }
.she-btn-black:hover { background-color: rgb(68, 68, 68); border-color: rgb(68, 68, 68); text-decoration: none; }
.she-btn-white:hover { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); text-decoration: none; }
.she-btn-black:active:focus, .she-btn-black:focus, .she-btn-white:active:focus, .she-btn-white:focus { outline: 0px none; }
.she-btn-black:active, .she-btn-white:active { outline: 0px none; background-image: none; box-shadow: none; }
.she-tl-h3 { color: rgb(38, 38, 38); font-weight: 700; }
.she-tl-h3 { font-size: 24px; }
.per-wallet h3 { text-transform: uppercase; }
.per-wallet h3 { text-align: center; }
.wallet-balance { margin-top: 44px; }
.wallet-history { padding-top: 40px; clear: both; }
.balance-title .title-image1, .history-title .title-image2 { display: inline-block; margin-right: 15px; }
.balance-title .title-con1, .history-title .title-con2 { display: inline-block; font-size: 12px; color: rgb(204, 204, 204); }
.title-con1::after { clear: both; }
.balance-title .title-con1 p:first-child, .history-title .title-con2 p:first-child { font-size: 16px; color: rgb(0, 0, 0); }
.blance-con-left { display: inline-block; clear: both; padding-left: 0px; margin-bottom: 10px; }
.conbox-right { display: inline-block; float: right; padding-top: 14px; position: relative; margin-right: 20px; }
.conbox-right::after { clear: both; }
.conbox-right .she-btn-black { margin-top: 20px; }
.conbox-right .btns .she-btn-black { margin: 0px 10px 0px 0px; }
.title-con1 p a, .title-con2 p a { color: rgb(204, 204, 204); font-size: 12px; }
.conbox-right input:not([type="button"]) { width: 100%; height: 32px; padding: 0px 5px; border: 1px solid rgb(204, 204, 204); }
.conbox-right p { color: red; transform: scale(1) translateX(0px); width: 150px; text-align: left; line-height: 12px; }
.conbox-right .btns { margin: 12px 0px 10px; }
.blance-con-left, .history-table { margin-top: 20px; }
.conbox-right .she-btn-white { float: right; }
.history-table { clear: both; }
.wallet-history .history-table table { font-size: 12px; color: rgb(0, 0, 0); }
.wallet-history .history-table .table thead tr th { font-weight: 400; }
.wallet-history .history-table thead { border: 1px solid rgb(229, 229, 229); }
.wallet-history .history-table .table > thead > tr > th { border-bottom: medium none; }
.conbox-item::after { clear: both; display: block; content: ""; }
.conbox .conbox-item { line-height: 30px; }
.blance-con-left .conbox .conbox-right .she-btn-black { margin-top: 0px; }
.blance-con-left .conbox { background-color: rgb(250, 250, 250); padding: 20px 0px; overflow: initial; }
.blance-con-left .conbox .wallet-hover { position: absolute; border: 1px solid rgb(204, 204, 204); width: 200px; padding: 5px 10px; box-sizing: content-box; z-index: 2; background: rgb(255, 255, 255) none repeat scroll 0% 0%; right: -58px; top: 22px; font-size: 12px; line-height: 14px; display: none; }
.blance-con-left .conbox .conbox-tatal-wrap { text-align: center; width: 30%; margin-top: 10px; }
.blance-con-left .conbox .conbox-item td { vertical-align: top; }
.blance-con-left .conbox .conbox-availabl-wrap { width: 30%; }
.blance-con-left .conbox .conbox-item .conbox-money { text-align: center; font-size: 30px; color: rgb(51, 51, 51); margin-top: 15px; }
.blance-con-left .conbox .conbox-tatal-wrap .conbox-money { font-weight: 700; }
.blance-con-left .conbox .conbox-item .conbox-title { text-align: center; font-size: 14px; position: relative; }
.blance-con-left .conbox .conbox-unavailabl-wrap { vertical-align: top; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
.blance-con-left .conbox .wallet-help-icon { margin-left: 5px; cursor: pointer; }
.blance-con-left .conbox .conbox-availabl-wrap .conbox-right { padding-top: 5px; display: block; margin: 0px auto; float: none; text-align: center; }
.conbox-availabl-wrap .conbox-right { max-width: 158px; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}
.conbox-availabl-wrap .conbox-right { max-width: 158px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('') format("embedded-opentype"), url('') format("woff2"), url('') format("woff"), url('') format("truetype"), url('') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
.col-sm-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
input { margin: 0px; font: inherit; color: inherit; }
html input[type="button"] { cursor: pointer; }
input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('') format("embedded-opentype"), url('') format("woff2"), url('') format("woff"), url('') format("truetype"), url('') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
.col-sm-12, .col-sm-9, .col-xs-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }
.table > thead:first-child > tr:first-child > th { border-top: 0px none; }.col-sm-12,.col-sm-9,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-12{float:left}.col-xs-12{width:100%}@media (min-width:768px){.col-sm-12,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-9{width:75%}}