html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
img { border: medium none; }
ul, ol, li { list-style: outside none none; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
ul, li, h3, img, div { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
.position { float: left; width: 100%; margin-top: 15px; line-height: 20px; color: rgb(153, 153, 153); }
.position a { color: rgb(153, 153, 153); text-decoration: none; }
.selected { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(153, 153, 153); }
UL { list-style-type: none; }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, ul, ol, li, h3 { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
.red_num { color: rgb(209, 0, 0); }
.she-breadcrumb, li, ol, ul { list-style: outside none none; }
img { border: medium none; }
.col-sm-3 { padding-right: 10px; padding-left: 10px; }
.container { padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto; }
.row { margin-right: -10px; margin-left: -10px; }
*, .she-breadcrumb { margin: 0px; padding: 0px; }
.she-breadcrumb > li { display: inline-block; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
.she-breadcrumb { height: 14px; background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(102, 102, 102); white-space: nowrap; }
.she-breadcrumb > li { height: 14px; }
.she-breadcrumb > li + li::before { content: "/"; color: rgb(153, 153, 153); }
.she-breadcrumb > li:first-child a:first-child { margin-right: 3px; }
.she-breadcrumb > li:last-child:not(a)::before { margin-right: 5px; }
.she-breadcrumb a, .she-breadcrumb li { color: rgb(153, 153, 153); }
.she-breadcrumb a:hover { color: rgb(102, 102, 102); }
.position { text-indent: 0px; margin-bottom: 40px; margin-top: 15px; }
.she-side { padding-right: 30px; }
.she-side-nav ul li { padding: 10px 0px; font-size: 14px; display: block; }
.she-side .she-title { margin-bottom: 14px; font-size: 24px; }
.she-side .she-side-nav li a { color: rgb(111, 111, 111); line-height: 1; }
.she-side .she-side-nav li a:hover { color: rgb(0, 0, 0); }
.she-side .she-side-nav li a.area { color: rgb(0, 0, 0); font-weight: 600; }

body { overflow-x: hidden; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}




html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}nav{display:block}a{background-color:transparent}a:active,a:hover{outline:0}img{border:0}@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}img{page-break-inside:avoid}img{max-width:100%!important}h3{orphans:3;widows:3}h3{page-break-after:avoid}}@font-face{font-family:'Glyphicons Halflings';src:url();src:url() format('embedded-opentype'),url() format('woff2'),url() format('woff'),url() format('truetype'),url() format('svg')}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h3{margin-top:20px;margin-bottom:10px}h3{font-size:24px}ol,ul{margin-top:0;margin-bottom:10px}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-right:-15px;margin-left:-15px}.col-sm-3{position:relative;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width:768px){.col-sm-3{float:left}.col-sm-3{width:25%}}.container:after,.container:before,.row:after,.row:before{display:table;content:" "}.container:after,.row:after{clear:both}@-ms-viewport{width:device-width}
/* ::::: file:///C:/Users/Administrator/AppData/Roaming/Mozilla/Firefox/Profiles/8llj7apx.default/ScrapBook/data/20171230124830/index.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
header { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
img { border: 0px none; }
input { margin: 0px; font: inherit; color: inherit; }
input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('@22@22') format("embedded-opentype"), url('@22@22') format("woff2"), url('@22@22') format("woff"), url('@22@22') format("truetype"), url('@22@22') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
h3 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h3 { margin-top: 20px; margin-bottom: 10px; }
h3 { font-size: 24px; }
ul { margin-top: 0px; margin-bottom: 10px; }
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-3, .col-md-3, .col-sm-4, .col-sm-9, .col-xs-6 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-6 { float: left; }
.col-xs-6 { width: 50%; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.row::after, .row::before { display: table; content: " "; }
.row::after { clear: both; }
@font-face {
	font-family: "iconfont";
	src: url('font_92762_b59ma9fqm7fu5wmi.eot') format("embedded-opentype"), url('font_92762_b59ma9fqm7fu5wmi.woff') format("woff"), url('font_92762_b59ma9fqm7fu5wmi.ttf') format("truetype"), url('') format("svg");
}
html, body { margin: 0px; padding: 0px; }
* { margin: 0px; padding: 0px; }
img { border: medium none; }
ul, li { list-style: outside none none; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
ul, li, h3, img, div { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
h3 { margin: 0px; }
.title { background: rgb(237, 239, 240) none repeat scroll 0% 0%; border-bottom: 2px solid rgb(204, 205, 205); line-height: 25px; }
.title:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
em.discount_img { right: 0px; top: 0px; }
strong { color: rgb(209, 0, 0); }
UL { list-style-type: none; }
#delete { float: left; cursor: pointer; text-transform: none; }
.show_vip { height: 12px; line-height: 12px; color: rgb(0, 0, 0); }
html { -moz-text-size-adjust: none; }
html { color: rgb(0, 0, 0); }
body, div, ul, li, h3, input { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
li, ul { list-style: outside none none; }
img { border: medium none; }
.col-lg-3, .col-md-3, .col-sm-4, .col-sm-9, .col-xs-6 { padding-right: 10px; padding-left: 10px; }
.row { margin-right: -10px; margin-left: -10px; }
.fr { float: right; }
* { margin: 0px; padding: 0px; }
.iconfont { font-family: iconfont !important; font-style: normal; display: inline-block; text-decoration: none; -moz-user-select: none; }
body, html { font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; color: rgb(34, 34, 34); }
a, a:focus, a:hover, a:link, a:visited { color: rgb(34, 34, 34); text-decoration: none; }
a:hover { text-decoration: underline; }
input { font-family: Arial,Helvetica,sans-serif; }
i { font-style: normal; }
.she-drop-normal-ul { width: 160px; box-sizing: border-box; position: absolute !important; }
.she-drop-normal { font-size: 12px; display: block; text-align: left; color: rgb(34, 34, 34); vertical-align: middle; padding: 0px 10px; border: 1px solid rgb(204, 204, 204); outline: 0px none; position: relative; box-sizing: border-box; }
.she-drop-normal { width: 160px; line-height: 30px; height: 30px; }
.she-drop-normal:hover { border: 1px solid rgb(153, 153, 153); }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent; position: absolute; top: 50%; margin-top: -1px; right: 10px; }
.she-drop-normal-ul { z-index: 100; display: none; color: rgb(133, 133, 133); padding: 2px 0px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(153, 153, 153) rgb(153, 153, 153); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; text-align: left; }
.she-drop-normal-ul li { border-bottom: 1px solid rgb(245, 245, 245); padding: 0px 10px; }
.she-drop-normal-ul li:last-child { border-bottom: 0px none; }
.she-drop-normal-ul li:hover { color: rgb(34, 34, 34); }
.title { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; line-height: 1; }
.she-tl-h3 { color: rgb(38, 38, 38); font-weight: 700; }
.she-tl-h3 { font-size: 24px; }
.prd-ct-gd-item .image img { object-fit: cover; object-position: center top; }
.item-drop .she-drop-normal-ul { box-shadow: none; }
.prd-ct-gd-item { position: relative; }
.prd-ct-gd-item a em { display: inline; }
.prd-ct-gd-item a em.discount_img { top: -8px; height: 46px; line-height: 32px; padding-left: 10px; font-style: normal; position: absolute; text-align: right; font-size: 12px; color: rgb(255, 255, 255); }
.prd-ct-gd-item a em.discount_img { background: transparent url('/catalog/view/theme/default/image/wishlist/discount-img-3_vee20329.png') no-repeat scroll 0% 0% / contain ; right: -6px; padding-right: 21px; width: 46px; }
.prd-ct-gd-item .product .price b.show_vip { margin-left: 5px; font-weight: 400; }
.prd-ct-gd-item .iconfont { color: rgb(102, 102, 102); }
.save-cate .quick-shopping { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.save-cate .attribute-list { white-space: nowrap; padding: 0px 20px; background-color: rgb(255, 255, 255); opacity: 0.85; color: rgb(34, 34, 34); font-size: 14px; text-transform: uppercase; height: 30px; line-height: 30px; text-align: center; margin-top: 30px; cursor: pointer; position: absolute; left: 50%; transform: translate(-50%, 0px); }
.save-cate .attribute-list:hover { opacity: 0.98; }
.she-center header .title, .wish-list .title h3 { text-transform: uppercase; }
.wish-nav-right { line-height: 30px; }
.wish-list .title h3 { text-align: center; }
.wish-list header .title { margin-bottom: 37px; }
.wish-list .wish-nav { padding-bottom: 8px; }
.wish-nav-left, .wish-nav-right { display: inline-block; }
.wish-nav-right { float: right; height: 30px; }
.wish-nav-right > span { color: rgb(153, 153, 153); font-size: 12px; padding-right: 20px; }
.wish-nav-right::after { display: table; content: " "; clear: both; }
.wish-conter .image { position: relative; }
.wish-conter .prd-ct-gd-item a em.discount_img { width: 40px; height: 40px; line-height: 28px; top: -4px; right: -4px; }
.wish-conter .description { margin-top: 10px; height: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: rgb(0, 0, 0); }
.wish-conter .save-cate .attribute-list { margin: 0px; }
.wish-conter #delete.delete { float: right; display: none; }
.product .price-r s, .wish-conter .product .price s { color: rgb(157, 157, 157); margin-left: 5px; }
.wish-conter .image .item-like i.like { color: rgb(230, 69, 69); }
.wish-conter .image .item-like { position: absolute; top: 4px; left: 4px; }
.wish-conter .image .item-like .item-like-inner { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; padding: 0px 5px; display: inline-block; }
.wish-conter .image .item-like .num { color: rgb(34, 34, 34); }
.wish-conter .j-wishlist-item:hover #delete.delete { display: block; }
.wish-list .wish-nav { margin-bottom: 10px; border: medium none; }
.wish-list .wish-nav .item-drop li { line-height: 30px; }
.wish-conter .image .item-like .like-tips { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 8px; line-height: 1; border: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102); display: none; }
.she-center header { width: 100%; border-bottom: 1px solid rgb(242, 242, 242); margin-bottom: 30px; }
.she-center header .title { text-align: center; }
.wish-list .wish-nav-left .she-drop-normal, .wish-list .wish-nav-left .she-drop-normal-ul { width: 140px; }
@font-face {
	font-family: "Avenirnextdemibold";
	src: url('avenirnextdemibold_v962ee52.otf') format("truetype");
}
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-3, .col-md-3, .col-sm-4, .col-sm-9, .col-xs-6 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-6 { float: left; }
.col-xs-6 { width: 50%; }.row{margin-right:-15px;margin-left:-15px}.col-lg-3,.col-md-3,.col-sm-4,.col-sm-9,.col-xs-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-6{float:left}.col-xs-6{width:50%}@media (min-width:768px){.col-sm-4,.col-sm-9{float:left}.col-sm-9{width:75%}.col-sm-4{width:33.33333333%}}@media (min-width:992px){.col-md-3{float:left}.col-md-3{width:25%}}@media (min-width:1200px){.col-lg-3{float:left}.col-lg-3{width:25%}}

img{vertical-align:middle}h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h3{margin-top:20px;margin-bottom:10px}h3{font-size:24px}ol,ul{margin-top:0;margin-bottom:10px}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-right:-15px;margin-left:-15px}.col-sm-3{position:relative;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width:768px){.col-sm-3{float:left}.col-sm-3{width:25%}}.container:after,.container:before,.row:after,.row:before{display:table;content:" "}.container:after,.row:after{clear:both}@-ms-viewport{width:device-width}